<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n compress %}   
<html lang="en">
<head>
  <title>{% block title %}{{ section.title }}{% endblock %} - {% trans "ETS" %}</title>

  {% block style %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_page.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_table.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}uni_form/default.uni-form.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/changes.css" media="screen"/>
    {% endcompress %}
  {% endblock %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>

</head>
<body>
  <div class="header">
    <span style="font-weight:bold">{% blocktrans %} WFP Electronic Tracking System - eWaybill{% endblocktrans %}</span>
  </div>
  <div class="menu">
    <a href='{% url index %}'>{% trans "home" %}</a>
    {% if user.is_authenticated %}
      <a href='{% url django.contrib.auth.views.logout %}?next={% url index %}'>{% trans "Logout" %}</a>
    {% else %} {% trans "Please log in." %}
      <a href='{% url django.contrib.auth.views.login %}?next={% url index %}'>{% trans "login" %}</a>{% endif %}
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <div class='footer'>
    {% if user.is_authenticated %}
      {% trans  "Logged in as:" %}<span class="highlight">{{ user.username }} </span>.
    {% else %}
      {% trans "Please log in." %} <a href='{% url django.contrib.auth.views.login %}?next={% url index %}'>{% trans "login" %}</a>
    {% endif %}
  </div>
  
{% block script %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
{% endcompress %}
{% endblock %}

</body>
</html>
