<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n compress extra_tags analytics cache %}
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ section.title }}{% endblock %} - {% trans "ETS" %}</title>

  {% block style %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_page.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_table.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}uni_form/default.uni-form.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/changes.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/local.css" media="screen"/>
   {% endcompress %}
  {% endblock %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>

</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="header">
    <span style="font-weight:bold">{% blocktrans %} WFP Electronic Tracking System - eWaybill{% endblocktrans %}</span>
  </div>
  {% block menu %}
  <div class="menu">
    {% url index as index_url %}
    {% if request.path != index_url %}<a href="{{ index_url }}">{% trans "home" %}</a>{% endif %}
    {% if user.is_authenticated %}
      {% url django.contrib.auth.views.password_change as passwd_url %}
      {% if request.path != passwd_url %}<a href="{{ passwd_url }}">{% trans "Change password" %}</a>{% endif %}
      <a href="{% url django.contrib.auth.views.logout %}?next={% url index %}">{% trans "Logout" %}</a>
    {% endif %}
  </div>
  {% endblock %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <div class="footer">
    {% block footer %}
    {% get_last_update request.user %}
    {% if user.is_authenticated %} | {% trans  "Logged in as:" %}<strong class="highlight">{{ user.username }}</strong>.{% endif %}
    {% endblock %}
  </div>
  
{% block script %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
{% endcompress %}
{% analytics_async "UA-26504412-3" %}
{% endblock %}

<script type="text/javascript">
//<![CDATA[
$(window).load(function() {
	$(".dataTables_filter input:first").change();
	$(".dataTables_filter input:first").focus();
});
//]]>
</script>

</body>
</html>
