{% extends "base_template.html"%}

{% load i18n extra_tags %}

{% block title %}{% trans "Select Action" %}{% endblock %}

{% block content %} 
{% trans "Select an action" %}:
<ul>

  <li><a href='{% url orders %}'>{% trans "List Of Orders" %}</a></li>

  <li><a href='{% url view_stock %}'>{% trans "View Stock" %}</a></li>
  <li><a href='{% url waybill_reception_list %}'>{% trans "Receive Waybill" %}</a></li>
  
  {% if myprofile.officer %}
  <li><a href='{% url waybill_validate_dispatch_form %}'>{% trans "Validate Dispatch Waybill" %}</a></li>
  <li><a href='{% url waybill_validate_receipt_form %}'>{% trans "Validate Received Waybill" %}</a></li>
  {% endif %}

  {% if user.is_superuser %}
  <li><a href='{% url waybill_search %}'>{% trans "Reset waybills" %}</a></li>
  {% endif %}

  {% if user.is_superuser %}
  <li><a href="{% url select_report %}">{% trans "Reports" %}</a></li>
  {% endif %}
  
  <li>
    <form method='POST' action='{% url waybill_search %}'>
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Search Waybill' %}">
    </form>
  </li>

  <li>
    {% trans "Scan Waybill -->" %}
    <form method='POST' action='{% url deserialize %}'>
      {% csrf_token %}
      <input type="text" name="wbdata"/>
      <input type="submit" value="{% trans 'Receive Scanned Waybill' %}" />
    </form>
  </li>

</ul>

{% endblock %}
