{% extends "base_template.html"%}

{% load i18n extra_tags %}



{% block title %}{% trans "Select Action" %}{% endblock %}

{% block content %}


{% trans "Select an action" %}:

{% person_only user %}
{% if request.user.person.dispatch %}
<ul>
  <li><a href="{% url orders %}">{% trans "View LTIs / Create Dispatch eWaybills" %}</a></li>
</ul>
{% endif %}
<ul>
  {% if request.user.person.dispatch %}
  <li><a href="{% url waybill_dispatch_list %}">{% trans "eWaybills Waiting For Dispatch Signature" %}</a></li>
  {% endif %}
  {% if request.user.person.receive %}
  <li><a href="{% url waybill_reception_list %}">{% trans "Expected Consignments" %}</a></li>
  {% endif%}
</ul>
{% endperson_only %}

{% officer_only user %}
<ul>
  <li><a href="{% url dispatch_validates %}">{% trans "Validate Dispatched eWaybills" %}</a></li>
  <li><a href="{% url receipt_validates %}">{% trans "Validate Received eWaybills" %}</a></li>
</ul>

<ul>
  <li><a href="{% url compas_waybill %}">{% trans "View Dispatched eWaybills Submitted to COMPAS" %}</a></li>
  <li><a href="{% url compas_waybill_receipt %}">{% trans "View Received eWaybills Submitted to COMPAS" %}</a></li>

  <!-- <li><a href="{# url synchronization #}">{% trans "Synchronization with offline instances" %}</a></li> -->
  <li><a href="{% url installation_data %}">{% trans "Get installation data" %}</a></li>
</ul>  
{% endofficer_only %}

<ul>
  <li>
    <form method="GET" action="{% url waybill_search %}">
      {{ form }}
       <input type="submit" value="{% trans "Search for eWaybill" %}">
    </form>
  </li>
</ul>

{% if request.user.person.receive %}
<ul>
  <li>
    <form method="GET" action="{% url deserialize %}">
      {{ form_scan }} ( Paste scanned barcode into box )
      <input type="submit" value="{% trans "Scan & View eWaybill" %}" />
      <input type="submit" name="receipt" value="{% trans "Scan & Receive eWaybill" %}" />
   </form>
  </li>
</ul>
{% endif %}

<ul>
  <li><a href="{% url view_stock %}">{% trans "View Stock Items" %}</a></li>  
  <li><a href="{% url select_report %}">{% trans "Generate Reports in CSV Format" %}</a></li>
</ul>
  
{% endblock %}
