{% extends "base_template.html"%}

{% load i18n extra_tags %}

{% block title %}{% trans "Select Action" %}{% endblock %}

{% block content %} 
{% trans "Select an action" %}:

{% person_only user %}
<ul>
  <li><a href='{% url orders %}'>{% trans "List Of Orders" %}</a></li>
</ul>
<ul>
  <li><a href='{% url waybill_dispatch_list %}'>{% trans "Dispatch" %}</a></li>
  <li><a href='{% url waybill_reception_list %}'>{% trans "Receipt" %}</a></li>
</ul>
<ul>  
  <li><a href='{% url view_stock %}'>{% trans "Stocks" %}</a></li>  
  <li><a href="{% url select_report %}">{% trans "Reports" %}</a></li>
</ul>
{% endperson_only %}

<ul>
  <li>
    <form method='GET' action='{% url waybill_search %}'>
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Search Waybill' %}">
    </form>
  </li>
</ul>

<ul>
  <li>
    <form method='GET' action='{% url deserialize %}'>
      {{ form_scan.as_p }}
      <input type="submit" value="{% trans 'Scan Waybill' %}" />
      <input type="submit" name="receipt" value="{% trans 'Receipt Waybill' %}" />
   </form>
  </li>
</ul>

<ul>
  <li>
    <form method='GET' action='{% url import_data %}'>
      {{ form_import.as_p }}
      <input type="submit" value="{% trans 'Import Data from Server' %}" />
      <input type="submit" name="receipt" value="{% trans 'Import Data' %}" />
   </form>
  </li>
</ul>

{% endblock %}
