{% extends "admin/base.html" %}
{% load i18n extra_tags %}

{% block title %}{{ title }} | {% trans 'ETS Admin Site' %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name"><img src='{{ STATIC_URL }}images/epic_logo_small.png' ><br/>{% trans 'ETS administration' %}</h1>
<a href='{% url index %}'>{% trans 'Back to ETS' %}</a>
{% get_last_update request.user %}

{% endblock %}

{% block nav-global %}{% endblock %}
