{% extends "base_template.html"%}
{%block content %}
<h3>Validate Receipt</h3>
<form method="post" action="">
    {{ formset.management_form }}
   
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>LTI</th><th>Waybill Number</th><th>Origin Warehouse</th><th>Consignee</th><th>Delivery Location</th><th>Dispatched</th><th>Received</th><th>Validated</th><th></th></tr>
        </thead>
    {% for form in formset.forms %}
    

    <tr>
             <td>    {{form.id}}{{form.instance.ltiNumber}}</td>
             <td>{{form.instance.waybillNumber}}</td>
             <td>{{form.instance.origin_wh_name}}</td>
             <td>{{form.instance.consegnee_name}}</td>
             <td>{{form.instance.destination_loc_name}}</td>
             <td>{%if form.instance.dispatcherSigned%}{{form.instance.transportDispachSignedTimestamp|date:"Y/m/d"}}{%else%}Pending{%endif%}</td>
              <td>{%if form.instance.recipientSigned%}{{form.instance.recipientSignedTimestamp|date:"Y/m/d"}}{%else%}Pending{%endif%}</td>
             <td>{{ form.waybillReceiptValidated }} {%if form.instance.hasError%}<span onMouseUp="alert('{{form.instance.errors.errorRec|escapejs}}')"><span style='color:red;'>Error!</span></span>{%endif%}</td>
             <td><a href='viewwb/{{form.instance.id}}'>View</a>{%if myprofile.superUser%} <a href='{%url ets.waybill.views.waybill_validate_form_update form.instance.id%}'>Edit</a>{%endif%}</td>
    </tr>

    {% endfor %}
</table>

<input type="submit" value="Validate Waybills"> {% csrf_token %}
</form>
<h3>Update To Compas</h3>
<br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example2">
    <thead>
        <tr><th>LTI</th><th>Waybill Number</th><th>Origin Warehouse</th><th>Consignee</th><th>Delivery Location</th><th>Dispatched</th><th>Received</th><th>Validated</th></tr>
        </thead>

    {% for wb in validatedWB %}
    <tr>
             <td>    {{wb.ltiNumber}}</td>
             <td>{{wb.waybillNumber}}</td>
             <td>{{wb.loadingdetail_set.select_related.0.siNo.origin_wh_name}}</td>
             <td>{{wb.loadingdetail_set.select_related.0.siNo.consegnee_name}}</td>
             <td>{{wb.loadingdetail_set.select_related.0.siNo.destination_loc_name}}</td>
             <td>{%if wb.dispatcherSigned%}{{wb.transportDispachSignedTimestamp|date:"Y/m/d"}}{%else%}Pending{%endif%}</td>
              <td>{%if wb.recipientSigned%}{{wb.recipientSignedTimestamp|date:"Y/m/d"}}{%else%}Pending{%endif%}</td>
             <td><form method="post" action='commit_to_compas_receipt_one/{{wb.id}}'> <input type="submit" value="Update In Compas"> <input type="hidden" name="wb_id" value="{{wb.id}}">{% csrf_token %}</form></td>
    </tr>

    {% endfor %}
</table>
<!--
<form method="post" action="commit_to_compas_receipt/">
<input type="submit" value="Update Compas"> {% csrf_token %}
</form>
-->

{%endblock%}

{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
                $('#example').dataTable( {
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": false,
                    "bInfo": false,
                    "bAutoWidth": false 
                });
        $('#example2').dataTable( {
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": false,
                    "bInfo": false,
                    "bAutoWidth": false 
                });
} );
</script>
{%endblock extra-header%}