{% extends "admin/base_site.html" %}
{% load i18n pagination_tags %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="../../../">
      {% trans "Home" %}
    </a>
    &rsaquo;
    <a href="../../../">
       {{ opts.app_label|capfirst }}
    </a>
    &rsaquo;
    <a href="../../">
       {{ opts.verbose_name_plural|capfirst }}
    </a>
    &rsaquo;
    <a href="../../{{ person.pk }}">
       {{ person }}
    </a>
    &rsaquo;
    {{ title }}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">
      <div id="toolbar">
        <form id="changelist-search" action="." method="post">
          {% csrf_token %}
          <div>
            {% for field in form %}
              {{ field.errors }}
              {{ field.label_tag }}: {{ field }}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
            <input type="submit" value='{% trans "Search" %}'>
          </div>
        </form>
      </div>

      <form id="changelist-form">
        {% autopaginate history_list paginate_by %}
        {% include "waybill/history_object_fragment.html" %}
      
      </form>
    </div>
    {% paginate %}
  </div>

{% endblock %}
