{% extends "offliner_base_template.html"%}

{%block content %}

<h3>Warehouse: {{WAREHOUSE_CODE}}</h3>
    
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr>
            <th>LTI</th>
            <th>Date</th>
            <th>Destination</th>
            <th>Dest Location</th>
            <th>Action</th>
        </tr>
      </thead>

    {% for lti in ltis%}
        <tr>
            <td>{{lti.code}}</td>
            <td>{{lti.lti_date}}</td>
            <td>{{lti.destination_loc_name}}</td>
            <td>{{lti.consegnee_name}}</td>
            <td><a href='../info/{{lti.code}}'>select</a></td>
        </tr>
    {% endfor%}

</table>

{%endblock%}

{%block extra-header%}
    <script charset="utf-8">
        $(document).ready(function() {
                $('#example').dataTable();
        } );
    </script>
{%endblock extra-header%}
