{% extends "base_template.html"%}
{%block content %}
 <table title="Waybills Ready for receipt" summary="waybills to receive" cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>LTI</th><th>Waybill Number</th><th>Origin<th>Consignee</th><th>Delivery Location</th><th>Dispatched Date</th><th>Action</th></tr>
        </thead>
{% for waybill in object_list%}
    {%if waybill.consegnee_code == myprofile.receptionPoints.consegnee_code  and myprofile.receptionPoints.LOCATION_CODE == waybill.destination_location_code  %}
   <tr>
             <td>{{waybill.ltiNumber}}</td>
             <td>{{waybill.waybillNumber}}</td>
              <td>{{waybill.origin_loc_name}}</td>
             <td>{{waybill.consegnee_name}}</td>
             <td>{{waybill.destination_loc_name}}</td>
             <td>{{waybill.dateOfDispatch}}</td>
             <td><a href='{%url ets.waybill.views.waybill_reception waybill.id%}'>Select</a></td>
    </tr>
   {%else%}
       {%if myprofile.isAllReceiver %}
           {%if waybill.consegnee_code == 'W200000475'%}
      <tr>
             <td>{{waybill.ltiNumber}}</td>
             <td>{{waybill.waybillNumber}}</td>
              <td>{{waybill.origin_loc_name}}</td>
             <td>{{waybill.consegnee_name}}</td>
             <td>{{waybill.destination_loc_name}}</td>
             <td>{{waybill.dateOfDispatch}}</td>
             <td><a href='{%url ets.waybill.views.waybill_reception waybill.id%}'>Select</a></td>
    </tr>{%endif%}
        {%endif%}
    {%endif%}

{%endfor%}
</table>
{%endblock%}
{%block extra-header%}
<script charset="utf-8" type="application/javascript">
$(document).ready(function() {
                $('#example').dataTable( {});
} );
</script>
{%endblock extra-header%}