{% extends "base_template.html"%}
{% load i18n extra_tags %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<table class="summary">
  <tr>
    <td>{% trans "Code" %}: <a href="{{ object.get_absolute_url }}" >{{ object.pk }}</a></td>
    <td>{% trans "Created" %}: {{ object.created }}</td>
  </tr>
  <tr>
    <td>{% trans "Requested Dispatch Date" %}: {{ object.dispatch_date }}</td>
    <td>{% trans "Expiry Date" %}: {{ object.expiry }}</td>
    <td>{% trans "Percentage" %}: {{ object.get_percent_executed }}</td>
  </tr>
  <tr>
    <td>{% trans "Dispatch Warehouse" %}: {{ object.warehouse.name }}</td>
  </tr> 
  <tr>
    <td>{% trans "Consignee:" %} {{ object.consignee }}</td>
    <td>{% trans "Destination Location:" %} {{ object.location.name }}</td>
  </tr>
  <tr>
    <td>{% trans "Transporter:" %} {{ object.transport_name }}</td>
  </tr>
</table>

<br/>
{% trans "Order items:" %}
<table class='bordered' >
  <thead>
    <tr>
      <th>{% trans "Commodity" %}</th>
      <th>{% trans "SI" %}</th>
      <th>{% trans "Project Number" %}</th>
      <th>{% trans "Number Of Units" %}</th>
      <th>{% trans "To Be Dispatched" %}</th>
      <th>{% trans "Stock In Warehouse" %}</th>
      <th>{% trans "Percentage" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in object.items.all %}
    <tr>
      <td>{{ item.commodity }}&nbsp;</td>
      <td>&nbsp;{{ item.si_code }}&nbsp;</td><!-- fixme: for bulk show 3 decimals-->
      <td align="right">&nbsp;{{ item.project_number }}&nbsp;</td>
      <td align="right">{{ item.number_of_units|floatformat:0 }}</td>
      <td align="right">{{ item.items_left|floatformat:0}}</td>
      <td align="right">{{ item.get_available_stocks|floatformat:0}}</td>
      <td align="right">{{ item.get_percent_executed }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% block extra_content %}
<br/>
{% if object.waybills.count %}
  {% trans "Current Waybills:" %}<br>
  <table class='bordered'>
  {% for waybill in object.waybills.all %}
      <tr>
        <th colspan="2" rowspan="2">
          <a href='{{ waybill.get_absolute_url }}'>{% trans "Waybill:" %}{{ waybill.pk }}</a>
        </th>
        <td align="center">{% waybill_edit waybill user %}</td>
        <th>{% trans "Dispatched date" %}</th>
        <th>{% trans "Received date" %}</th>
      </tr>
      <tr>
        <td align="center">{% waybill_delete waybill user %}</td>
        <td align="center">
          {{ waybill.transport_dispach_signed_date|date }}
        </td>
        <td align="center">
          {{ waybill.receipt_signed_date|date }}
        </td>
      </tr>
      <tr>
        <th>{% trans "Commodity" %}</th>
        <th>{% trans "SI" %}</th>
        <th>{% trans "Number of units" %}</th>
      </tr>
      {% for loading in waybill.loading_details.all %}
      <tr>
        <td>&nbsp;{{ loading.stock_item.commodity }}&nbsp;</td>
        <td>&nbsp;{{ loading.stock_item.si_code }}&nbsp;</td>
        <td align="right">{{ loading.number_of_units }}</td>
      </tr>
      {% endfor %}
  {% endfor %}
  </table>
{% endif %}

<br/>
{% waybill_creation object user _("Create New Waybill") %}<br/>
<br/>
{% endblock %}
{% endblock %}
