{% extends "base_template.html"%}
{% load i18n extra_tags %}

{% block title %}{% trans "Orders" %}{% endblock %}

{% block content %}

<h3>{% trans "LTIs" %} {% if warehouse_pk %} to warehouse: {{ warehouse_pk }}{% endif %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="listing" style="clear:both">
  <thead>
    <tr>
      <th>{% trans "LTI Number" %}</th>
      <th>{% trans "Creation Date" %}</th>
      <th>{% trans "Dispatch Date" %}</th>
      <th>{% trans "Expiry Date" %}</th>      
      <th>{% trans "Origin Warehouse" %}</th>
      <th>{% trans "Destination Location" %}</th>
      <th>{% trans "Consignee" %}</th>
      <th>{% trans "Transport Contractor" %}</th>
      <th>{% trans "% Completed" %}</th>
      <th>{% trans "New eWaybill" %}</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<div class="export_links">
  <span>{% trans "Export as" %}</span>
  <a class="excel" href="#">{% trans "XLS" %}</a>
</div>

{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8" type="text/javascript">
//<![CDATA[
var dateFormat = "dd-NNN-yyyy";
/* Define two custom functions (asc and desc) for date sorting */

jQuery.fn.dataTableExt.oSort['date-case-asc']  = function(x,y) {
	var xd = new Date(getDateFromFormat(x, dateFormat));
	var yd = new Date(getDateFromFormat(y, dateFormat));
    return ((xd < yd) ? -1 : ((xd > yd) ?  1 : 0));
};
 
jQuery.fn.dataTableExt.oSort['date-case-desc'] = function(x,y) {
	var xd = new Date(getDateFromFormat(x, dateFormat));
	var yd = new Date(getDateFromFormat(y, dateFormat));
    return ((xd < yd) ?  1 : ((xd > yd) ? -1 : 0));
};

$(document).ready(function() {
    var oTable = $('#listing').dataTable({
    	"aaSorting": [[ 3, "desc" ]],
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url table_orders %}",
        "aoColumns": [
          null,
          { "sType": 'date-case', "bSearchable": false },
          { "sType": 'date-case', "bSearchable": false },
          { "sType": 'date-case', "bSearchable": false },
          null,
          null,
          null,
          null,
          { "bSortable": false, "bSearchable": false },
          { "bSortable": false, "bSearchable": false },
          { "bSortable": false, "bSearchable": false, "bVisible": false }
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
          if ( aData[10] == true) {
            nRow.className +=' red';
          };
          return nRow;
        },
    });
    $(".export_links a").click( function(){
       getDataFromTable(oTable, $(this).attr("class"));
       return false;
    });
  
});
//]]>
</script>
{% endblock %}
