{% extends "base_template.html"%}
{%block title %}Select Action{%endblock%}
{%block content %}
<ul>
<li>Wareouse Dispatch Report <a href='{%url ets.waybill.views.dispatch_report_wh user.profile.warehouses.ORIGIN_WH_CODE%}'>download</a></li>
<li>Warehouse Reciept Report<a href='{%url ets.waybill.views.receipt_report_wh user.profile.receptionPoints.LOCATION_CODE  user.profile.receptionPoints.CONSEGNEE_CODE%}'>download</a></li></li>
<li>Compleat LTI Report<a href='{%url ets.waybill.views.ltis_report%}'>download</a></li>
<li>Compleate Recipient Report:

</li>
</ul>


{%endblock%}