{% extends "base_template.html"%}
{%block content %}
    {{object}}<br>
    {{object.ltiNumber}}<br>
    {{object.waybillNumber}}<br>
	{{object.id}}<br>
	{{object.OfLoading}}<br>
	{{object.OfDispach}}<br>
{{object.transactionType}}<br>
{{object.transportType}}<br>
{{object.dispatchRemarks}}<br>
{{object.dispatcherName}}<br>
{{object.dispatcherTitle}}<br>
{{object.dispatcherSigned}}<br>
{{object.transportContractor}}<br>
{{object.transportSubContractor}}<br>
{{object.transportDriverName}}<br>
{{object.transportDriverLicenceID}}<br>
{{object.transportVehicleRegistration}}<br>
{{object.transportTrailerRegistration}}<br>
{{object.transportDispachSigned}}<br>
{{object.transportDispachSignedstamp}}<br>
{{object.transportDeliverySigned}}<br>
{{object.transportDeliverySignedstamp}}<br>
{{object.containerOneNumber}}<br>
{{object.containerTwoNumber}}<br>
{{object.containerOneSealNumber}}<br>
{{object.containerTwoSealNumber}}<br>
{{object.recipientLocation}}<br>
{{object.recipientConsingee}}<br>
{{object.recipientName}}<br>
{{object.recipientTitle}}<br>
{{object.recipientArrival}}<br>
{{object.recipientStartDischarge}}<br>
{{object.recipientEndDischarge}}<br>
{{object.recipientDistance}}<br>
{{object.recipientRemarks}}<br>
{{object.recipientSigned}}<br>
{{object.recipientSignedstamp}}<br>
{{object.waybillValid}}<br>
{{object.waybillProcessedForPayment}}<br>
{%endblock%}