<html>
<head>
<style type="text/css">
body{

	font-size: 9px;

}
.wb_head{color:white;background-color:black;}
.centric h1{ font-weight: bold; text-align: center;}
.centric p{font-size: small; text-align: center;}
table {
	max-width: 850px;
	min-width: 850px;
	width: 850px;
}
img{position: relative; left: 20px; text-align: right;}
.right{ position: absolute; right: 20px; text-align: right;}
.centric{display: inline-block; position: relative; left:200px; text-align: center; }
.hidden{
	display: none;
	visibility: hide;
}
.shown{
	display:inherit;
	visibility: visible;
}
.the_forms{
	display: inline;
}
</style>
<style type="text/css">
#original_lable, #copy_lable{

	font-weight: bold;

	font-size: x-large;

}
</style>
<style media="print" type="text/css">
.wb_head{color:white;background-color:black;}
.centric h1{ font-weight: bold; text-align: center;}
.centric p{font-size: small; text-align: center;}
table {
	max-width: 800px;
	min-width: 800px;
	width: 800px;
}
img{position: relative; left: 20px; text-align: right;}
.right{ position: absolute; right: 20px; text-align: right;}
.centric{display: inline-block; position: relative; left:200px; text-align: center; }
.hidden{
	display: none;
	visibility: hide;
	height: 0px;
}
.hidden_print{
	display: none;
	visibility: hide;
	height: 0px;
}

.shown{
	display:inherit;
	visibility: visible;
}
.the_forms{
	display: inline;
	height: 0px;
}
</style>

</head>
<body>
<span class="hidden_print">
<form method="get" action="/ets/waybill/receive/{{object.id}}">
<button onclick="javascript:original_lable.className='hidden';copy_lable.className='shown';print(); return false;" name="Print Copy" id='PrintCopy'>Print Copy</button>
{%if not object.recipientSigned and not object.transportDeliverySigned%}<button name="Edit" id='Edit'>Edit</button>{%endif%}</form>
{%if not object.recipientSigned and not object.transportDeliverySigned%}
<form name="printoriginal" id="printoriginal" method="get" action="/ets/waybill/print_original_reciept/{{object.id}}">
<input type="submit" onclick="javascript: original_lable.className='shown'; copy_lable.className='hidden'; print();Edit.disabled=true; this.disabled=true;copy_lable.className='shown'; original_lable.className='hidden'; printoriginal.submit()" name="Print Original" id='Print1' value='Print Original'></form>
{%endif%}<a href="/ets/waybill/receive">Back to Receipt</a>
</span>
	<table cellpadding="0" cellspacing="0" border="0px">
		<tr>
			<td>	<table cellpadding="0" cellspacing="0" border="0px">
		<tr>
		<td><span><img height="75px" src="/ets/media/images/logo_small.gif"/></span></td>
			<td valign="top">
				<span  valign="top" class='centric'><h1 >Waybill</h1>
				<p> Conditions of carriage as indicated overleaf are applicable</p>
				<span id='original_lable' class="hidden">ORIGINAL</span>
				<span id='copy_lable' class="shown">COPY</span>				
				</span>
				<!--<span class="right"><img src="/ets/media/images/bc-dummy.png" alt="barcode" height=250><br>Waybill Number:{{object.waybillNumber}}</span>-->
				
			</td>
			<td align="right"><span valign=top style="font-size:x-large;">No:{{object.waybillNumber}}</span></td>
			</tr></table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head">
						<th colspan="5" bgcolor='black' color='white'>Transaction Details</th>
					</thead>
					<tr>
						<td><sup>Origin(location):</sup><br>{{ltioriginal.0.ORIGIN_LOC_NAME}}</td>
						<td><sup>Origin(warehouse):</sup><br>{{ltioriginal.0.ORIGIN_WH_NAME}}</td>
						<td><sup>Destination(location)</sup><br>{{ltioriginal.0.DESTINATION_LOC_NAME}}</td>
						<td rowspan=5><span ><img style='left:0px;' src="/ets/media/images/bc-dummy.png" alt="barcode" height=250><br></span></td>
					
					</tr>
					<tr>
						<td><sup>Project no.</sup><br>{{ltioriginal.0.PROJECT_WBS_ELEMENT}}</td>
						<td><sup>Date of Loading:</sup><br>{{object.dateOfLoading}}</td>
						<td><sup>Date of Dispatch:</sup><br>{{object.dateOfDispatch}}</td>
					</tr>
					<tr>
						<td><sup>Destination(warehouse):</sup><br>{{ltioriginal.0.DESTINATION_WH_NAME}}</td>
						<td><sup>Allocation Destination:</sup></td>
						<td><sup>Consignee</sup><br>{{ltioriginal.0.CONSEGNEE_NAME}}</td>
						
					</tr>

					<tr>
						<td><sup>Type of Transaction:</sup><br>
						 {%if object.transactionType == 'INT'%}WFP Internal{%endif%}{%if object.transactionType == 'DEL'%}Delivery{%endif%}</td>
						<td><sup>Transport Type:</sup><br>Road</td>
						<td><sup>LTI no</sup><br>{{object.ltiNumber}}</td>
					</tr>
					<tr><td colspan=3 valign="top"><sup>Dispatch Remarks:</sup><br>{{object.dispatchRemarks}}
						{%if object.containerOneRemarksDispatch%}
						<br>Container 1 Remarks:{{object.containerOneRemarksDispatch}}
						{%endif%}
						{%if object.containerTwoRemarksDispatch%}
						<br>Container 2 Remarks:{{object.containerTwoRemarksDispatch}}
						{%endif%}</td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px" style=''>
					<thead class="wb_head">
						<th colspan="8">Loading Details</th>
					</thead>
					<tr>
						<td rowspan="2"><sup>SI No</sup></td>
						<td rowspan="2"><sup>Commodity</sup></td>
						<td rowspan="2"><sup>Packing</sup></td>
						<td rowspan="2"><sup>Number of Units</sup></td>
						<td colspan="2"><sup>Unit Weight (kg)</sup></td>
						<td colspan="2"><sup>Tonnage</sup></td>
					</tr>
					<tr>
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr>
						<td>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}</td>
						<td>{{lineitem.siNo.CMMNAME}}</td>
						<td>{{lineitem.getStockItem}}</td>
						<td>{{lineitem.numberUnitsLoaded}}</td>
						<td>{{lineitem.siNo.UNIT_WEIGHT_NET}}</td>
						<td>{{lineitem.siNo.UNIT_WEIGHT_GROSS}}</td>
						<td>{{lineitem.calcTotalNet}}</td>
						<td>{{lineitem.calcTotalGross}}</td>
					</tr>
					{%endfor%}
					<tr>
						<td colspan="8">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head"><th colspan="3">Certification of Commodities Loaded</td></th></thead>
						<tr><td><sup>Warehouse or Dispatch Point</sup></td><td colspan="2"><sup>Transport Contractor</sup><br>{{ltioriginal.0.TRANSPORT_NAME}}</td></tr>
						<tr><td><small>Name:</small>{{object.dispatcherName}}</td><td colspan="2"><small>Transport Subcontractor</small>{{object.transportSubContractor}}</td></tr>
						<tr><td><small>Title:</small>{{object.dispatcherTitle}}</td><td colspan="2"><small>Driver's Name:</small>{{object.transportDriverName}}</td></tr>
						<tr><td rowspan="4"><p style="font-size: x-small"><br>I hereby certify the loading of the commodities described above.<br><br><br><br>
Name, signature and stamp:</p></td><td colspan="2"><small>Driver's Licence/ID:</small>{{object.transportDriverLicenceID}}</td></tr>
						<tr><td><small>Vehicle registration:</small>{{object.transportVehicleRegistration}}<br><small>Trailer No.:</small>{{object.transportTrailerRegistration}}</td>
						<td><small>Container no 1:</small>{{object.containerOneNumber}} <small>Seal:</small>{{object.containerOneSealNumber}}
						<br><small>Container no 2:</small>{{object.containerTwoNumber}} <small>Seal:</small>{{object.containerTwoSealNumber}} </td></tr>
						<tr><td rowspan="2" colspan="2"><p style="font-size: x-small"><br>On behalf of the Transporter I hereby certify the receipt of the commodities as described above in good condition, unless otherwise endorsed here above.<br><br><br>
Name, signature and stamp:</p></td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head"><th colspan="2">Certification of Commodities Received</td></th></thead>
					<tr>
						<td><small>Location:</small>{{object.recipientLocation}}</td>
						<td ><samll>Arrival Date:	</small>{{object.recipientArrivalDate}}</td>
					</tr>
					<tr>
						<td><small>Consignee:</small>	{{object.recipientConsingee}}</td>
						<td ><small>Start Discharge Date:</small>	{{object.recipientStartDischargeDate}}</td>
					</tr>
					<tr>
						<td><small>Name:	</small>{{object.recipientName}}</td>
						<td ><small>End Discharge Date</small>{{object.recipientEndDischargeDate}}</td>
					</tr>
					<tr>
						<td><small>Title: 	</small>{{object.recipientTitle}}</td>
						<td ><small>Distance in KM</small>	{{object.recipientDistance}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head">
						<th colspan="11">Observations</th>
					</thead>
					<tr>
						<td><sup>Receipt Condition</sup></td>
						<td colspan="2"><sup>Good</sup></td>
						<td colspan="5"><sup>Lost or Damaged cargo</sup></td>
						
						<td colspan="2"><sup>Total received</sup></td>
					</tr>
					<tr>
<td><sup>SI No</sup></td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>	<td><sup>(L)oss or (D)amage</sup></td>	<td><sup>Type (specify)</sup></td><td>Reason</td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr>
<td>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}</td>
<td>{{lineitem.numberUnitsGood}}</td>
<td>{{lineitem.calcNetRecievedGood}}</td>
<td>{%ifnotequal lineitem.numberUnitsLost 0%}
	L:{{lineitem.numberUnitsLost}}
	{%endifnotequal%}
	{%ifnotequal lineitem.numberUnitsDamaged 0%}
	{%ifnotequal lineitem.numberUnitsLost 0%}/{%endifnotequal%}
	D:{{lineitem.numberUnitsDamaged}}
	{%endifnotequal%}
	
</td>
<td>
	{%ifnotequal lineitem.numberUnitsLost 0%}
	L:{{lineitem.calcNetRecievedLost}}
	{%endifnotequal%}
	{%ifnotequal lineitem.numberUnitsDamaged 0%}
	{%ifnotequal lineitem.numberUnitsLost 0%}/{%endifnotequal%}
	D:{{lineitem.calcNetRecievedDamaged}}
	{%endifnotequal%}
	
	</td>
	
<td>{%ifnotequal lineitem.numberUnitsLost 0%}L{%ifnotequal lineitem.numberUnitsDamaged 0%}/{%endifnotequal%}{%endifnotequal%} {%ifnotequal lineitem.numberUnitsDamaged 0%}D{%endifnotequal%}</td>

<td><!-- type-->
{%ifnotequal lineitem.numberUnitsLost 0%}L:{{lineitem.unitsLostType}} {%ifnotequal lineitem.numberUnitsDamaged 0%}<br>{%endifnotequal%}{%endifnotequal%} 
{%ifnotequal lineitem.numberUnitsDamaged 0%}D:{{lineitem.unitsDamagedType}} {%endifnotequal%}
</td>
<td><!--reason-->
{%ifnotequal lineitem.numberUnitsLost 0%}L:{{lineitem.unitsLostReason}} {%ifnotequal lineitem.numberUnitsDamaged 0%}<br>{%endifnotequal%}{%endifnotequal%} 
{%ifnotequal lineitem.numberUnitsDamaged 0%}D:{{lineitem.unitsDamagedReason}} {%endifnotequal%}

</td>


<td>{{lineitem.calcTotalReceivedUnits}}</td>
<td>{{lineitem.calcTotalReceivedNet}}</td>	
						
					</tr>
					{%endfor%}
					<tr>
						<td colspan="10"><sup>Reciptient Remarks</sup>{{object.recipientRemarks}}<br><br></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td><table cellpadding="0" cellspacing="0" border="1px"><tr><td> <p style="font-size: x-small">On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp
Endorse this section with an official stamp</p></td><td><p style="font-size: x-small">On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp<br><br><br>
Endorse this section with an official stamp</p></td></tr></table></td></tr>
	</table>
	
</body>

</html>