<html>
<head>
<style type="text/css" >
	@import '/ets/media/css/show_print.css';
</style>
<style media="print" type="text/css">
	@import '/ets/media/css/print.css';
</style>
</head>
<body>
<span class="hidden_print">
<form class="the_forms" method="get" action="/ets/waybill/receive/{{object.id}}">
<button onclick="javascript:original_lable.className='hidden';copy_lable.className='shown';print(); return false;" name="Print Copy" id='PrintCopy'>Print Copy</button>
{%if not object.recipientSigned and not object.transportDeliverySigned%}
<input type="submit" value="Edit" name="Edit" id='Edit'/>
{%endif%}
</form>
{%if not object.recipientSigned and not object.transportDeliverySigned%}
<form class="the_forms" name="printoriginal" id="printoriginal" method="get" action="/ets/waybill/print_original_reciept/{{object.id}}">
<input type="submit" onclick="javascript: original_lable.className='shown'; copy_lable.className='hidden'; print();Edit.disabled=true; this.disabled=true;copy_lable.className='shown'; original_lable.className='hidden'; printoriginal.submit()" name="Print Original" id='Print1' value='Print Original'></form>
{%endif%}<a href="/ets/waybill/receive">Back to Receipt</a>
</span>
	<table cellpadding="0" cellspacing="0" border="0px" width="1000px">
		{% include 'waybill/wb_header.html'%}
		{% include 'waybill/wb_loading.html'%}
		{% include 'waybill/wb_receipt.html'%}	
</body>

</html>