		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0px">
					<tr>
						<td>
							<span><img height="75px" src="/ets/media/images/logo_small.gif"/></span>
						</td>
						<td valign="top">
							<span  valign="top" class='centric'><h1 >Waybill</h1>
							<p> Conditions of carriage as indicated overleaf are applicable</p>
							<span id='original_lable' class="hidden">ORIGINAL</span>
							<span id='copy_lable' class="shown">COPY</span>
							</span>
						</td>
						<td align="right">
							<span valign=top style="font-size:x-large;">No:{{object.waybillNumber}}</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>