<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head">
						<tr><th colspan="5" bgcolor='black' color='white'>Transaction Details</th></tr>
					</thead>
					<tr>
						<td><sup>Origin(location):</sup><br>{{ltioriginal.0.ORIGIN_LOC_NAME}}</td>
						<td><sup>Origin(warehouse):</sup><br>{{ltioriginal.0.ORIGIN_WH_NAME}}</td>
						<td><sup>Destination(location)</sup><br>{{ltioriginal.0.DESTINATION_LOC_NAME}}</td>
						<td rowspan=5><span ><img style='left:0px;' src="/ets/media/images/bc-dummy.png" alt="barcode" height=175><br></span></td>
					
					</tr>
					<tr>
						<td><sup>Project no.</sup><br>{{ltioriginal.0.PROJECT_WBS_ELEMENT}}</td>
						<td><sup>Date of Loading:</sup><br>{{object.dateOfLoading}}</td>
						<td><sup>Date of Dispatch:</sup><br>{{object.dateOfDispatch}}</td>
					</tr>
					<tr>
						<td><sup>Destination(warehouse):</sup><br>{{object.destinationWarehouse}}</td>
						<td><sup>Allocation Destination:</sup><br>{{ltioriginal.0.DESTINATION_LOC_NAME}}</td>
						<td><sup>Consignee</sup><br>{{ltioriginal.0.CONSEGNEE_NAME}}</td>
						
					</tr>

					<tr>
						<td><sup>Type of Transaction:</sup><br>
						 {%if object.transactionType == 'WIT'%}WFP Internal{%endif%}{%if object.transactionType == 'DEL'%}Delivery{%endif%}</td>
						<td><sup>Transport Type:</sup><br>Road</td>
						<td><sup>LTI no</sup><br>{{object.ltiNumber}}</td>
					</tr>
					<tr><td colspan=3 valign="top"><sup>Dispatch Remarks:</sup><br>{{object.dispatchRemarks}}
						{%if object.containerOneRemarksDispatch%}
						<br>Container 1 Remarks:{{object.containerOneRemarksDispatch}}
						{%endif%}
						{%if object.containerTwoRemarksDispatch%}
						<br>Container 2 Remarks:{{object.containerTwoRemarksDispatch}}
						{%endif%}</td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px" style=''>
					<thead class="wb_head">
						<tr><th colspan="8">Loading Details</th></tr>
					</thead>
					<tr>
						<td rowspan="2"><sup>SI No</sup></td>
						<td rowspan="2"><sup>Commodity</sup></td>
						<td rowspan="2"><sup>Packing</sup></td>
						<td rowspan="2"><sup>Number of Units</sup></td>
						<td colspan="2"><sup>Unit Weight (kg)</sup></td>
						<td colspan="2"><sup>Tonnage</sup></td>
					</tr>
					<tr>
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr>
						<td>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}</td>
						<td>{{lineitem.siNo.CMMNAME}}</td>
						<td>{{lineitem.getStockItem.packagingDescrShort}}{{lineitem.getStockItem.packagename}}</td>
						<td>{{lineitem.numberUnitsLoaded|floatformat:1}}</td>
						<td>{{lineitem.siNo.UNIT_WEIGHT_NET|floatformat:2}}</td>
						<td>{{lineitem.siNo.UNIT_WEIGHT_GROSS|floatformat:2}}</td>
						<td>{{lineitem.calcTotalNet|floatformat:3}}</td>
						<td>{{lineitem.calcTotalGross|floatformat:3}}</td>

					</tr>
					{%endfor%}
					{%if object.loadingdetail_set.select_related.all.len < 5%}
					
					{%endif%}
					<tr>
						<td colspan="8">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head"><tr><th colspan="3">Certification of Commodities Loaded</th></tr></thead>
						<tr><td><sup>Warehouse or Dispatch Point</sup></td><td colspan="2"><sup>Transport Contractor</sup><br>{{ltioriginal.0.TRANSPORT_NAME}}</td></tr>
						<tr><td><small>Name:</small>{{disp_person}}</td><td colspan="2"><small>Transport Subcontractor</small>{{object.transportSubContractor}}</td></tr>
						<tr><td><small>Title:</small>{{object.dispatcherTitle}}</td><td colspan="2"><small>Driver's Name:</small>{{object.transportDriverName}}</td></tr>
						<tr><td rowspan="4"><p style="font-size: x-small"><br>I hereby certify the loading of the commodities described above.<br><br><br><br>
Name, signature and stamp:</p></td><td colspan="2"><small>Driver's Licence/ID:</small>{{object.transportDriverLicenceID}}</td></tr>
						<tr><td><small>Vehicle registration:</small>{{object.transportVehicleRegistration}}<br><small>Trailer No.:</small>{{object.transportTrailerRegistration}}</td>
						<td><small>Container no 1:</small>{{object.containerOneNumber}} <small>Seal:</small>{{object.containerOneSealNumber}}
						<br><small>Container no 2:</small>{{object.containerTwoNumber}} <small>Seal:</small>{{object.containerTwoSealNumber}} </td></tr>
						<tr><td rowspan="2" colspan="2"><p style="font-size: x-small"><br>On behalf of the Transporter I hereby certify the receipt of the commodities as described above in good condition, unless otherwise endorsed here above.<br><br><br>
Name, signature and stamp:</p></td></tr>
				</table>
			</td>
		</tr>