<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px" width="100%">
					<thead class="wb_head">
						<tr><th colspan="5" bgcolor='black' color='white'>Transaction Details</th></tr>
					</thead>
					<tr>
						<td><sup style="font-size:x-small;">Origin(location):</sup><br>{{ltioriginal.0.ORIGIN_LOC_NAME}}</td>
						<td><sup style="font-size:x-small;" >Origin(warehouse):</sup><br>{{ltioriginal.0.ORIGIN_WH_NAME}}</td>
						<td><sup style="font-size:x-small;">Destination(location)</sup><br>{{ltioriginal.0.DESTINATION_LOC_NAME}}</td>
						<td  rowspan=5>{%if zippedWB%}<img style="left: 0px; right: 0px;"  height='175pt' src='http://chart.apis.google.com/chart?cht=qr&chs=250x250&chld=L|2&chl={{zippedWB}}'>
						{%else%}<img  src="/ets/media/images/bc-dummy.png" alt="barcode" >{%endif%}
						</td>
					
					</tr>
					<tr>
						<td><sup style="font-size:x-small;">Project no.</sup> {{ltioriginal.0.PROJECT_WBS_ELEMENT}}</td>
						<td><sup style="font-size:x-small;">Date of Loading:</sup> {{object.dateOfLoading}}</td>
						<td><sup style="font-size:x-small;">Date of Dispatch:</sup> {{object.dateOfDispatch}}</td>
					</tr>
					<tr>
						<td><sup style="font-size:x-small;">Destination(warehouse): </sup><br>{{object.destinationWarehouse}}</td>
						<td><sup style="font-size:x-small;">Allocation Destination:</sup><br>{{ltioriginal.0.DESTINATION_LOC_NAME}}</td>
						<td><sup style="font-size:x-small;">Consignee</sup><br>{{ltioriginal.0.CONSEGNEE_NAME}}</td>
						
					</tr>

					<tr>
						<td><sup style="font-size:x-small;">Type of Transaction: </sup>
						 {%if object.transactionType == 'WIT'%}WFP Internal{%endif%}{%if object.transactionType == 'DEL'%}Delivery{%endif%}</td>
						<td><sup style="font-size:x-small;">Transport Type: </sup>Road</td>
						<td><sup style="font-size:x-small;">LTI no: </sup>{{object.ltiNumber}}</td>
					</tr>
					<tr ><td colspan=3 valign="top" style="font-size:small;"><sup style="font-size:x-small;">Dispatch Remarks:</sup>{{object.dispatchRemarks}}
						{%if object.containerOneRemarksDispatch%}
						<br>Container 1 Remarks:{{object.containerOneRemarksDispatch}}
						{%endif%}
						{%if object.containerTwoRemarksDispatch%}
						<br>Container 2 Remarks:{{object.containerTwoRemarksDispatch}}
						{%endif%}</td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px" style='border-collapse: separate;'  width="100%">
					<thead class="wb_head">
						<tr><th colspan="8">Loading Details</th></tr>
					</thead>
					<tr   style="font-size:x-small;">
						<td rowspan="2"><sup>SI No</sup></td>
						<td rowspan="2"><sup>Commodity</sup></td>
						<td rowspan="2"><sup>Packing</sup></td>
						<td rowspan="2"><sup>Number of Units</sup></td>
						<td colspan="2"><sup>Unit Weight (kg)</sup></td>
						<td colspan="2"><sup>Tonnage</sup></td>
					</tr>
					<tr   style="font-size:x-small;">
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
						<td><sup>Net</sup></td>
						<td><sup>Gross</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr  style="font-size:small;">
						<td>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}x</td>
						<td>{{lineitem.siNo.CMMNAME}}</td>
						<td>{%if lineitem.getStockItem.packagingDescrShort != ''%}{{lineitem.getStockItem.packagingDescrShort}} {%else%} {{lineitem.getStockItem.packagename}}{%endif%}</td>
						<td style="text-align:right;">{{lineitem.numberUnitsLoaded|floatformat}}</td>
						<td style="text-align:right;">{{lineitem.siNo.UNIT_WEIGHT_NET|floatformat:3}}</td>
						<td style="text-align:right;">{{lineitem.siNo.UNIT_WEIGHT_GROSS|floatformat:3}}</td>
						<td style="text-align:right;">{{lineitem.calcTotalNet|floatformat:3}}</td>
						<td style="text-align:right;">{{lineitem.calcTotalGross|floatformat:3}}</td>

					</tr>
					{%endfor%}
					
					{%for lineitem in extra_lines%}

					<tr  style="font-size:small;border-collapse: separate;">
						<td>ID {{forloop.counter|add:object.loadingdetail_set.select_related.count}}.</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:right;">&nbsp; </td>
						<td style="text-align:right;">&nbsp; </td>
						<td style="text-align:right;">&nbsp; </td>
						<td style="text-align:right;">&nbsp; </td>
						<td style="text-align:right;">&nbsp; </td>

					</tr>
					{%endfor%}
					<tr>
						<td colspan="8">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px"  style="font-size:small;"  width="100%">
					<thead class="wb_head"><tr><th colspan="3">Certification of Commodities Loaded</th></tr></thead>
						<tr><td><sup>Warehouse or Dispatch Point</sup></td><td colspan="2"><sup style="font-size:x-small;">Transport Contractor:</sup>{{ltioriginal.0.TRANSPORT_NAME}}</td></tr>
						<tr><td><small style="font-size:x-small;">Name:</small>{{disp_person}}</td><td colspan="2"><small style="font-size:x-small;">Transport Subcontractor:</small> {{object.transportSubContractor}}</td></tr>
						<tr><td><small style="font-size:x-small;">Title:</small>{{object.dispatcherTitle}}</td><td colspan="2"><small style="font-size:x-small;">Driver's Name:</small> {{object.transportDriverName}}</td></tr>
						<tr><td rowspan="4"><p style="font-size: x-small"><br>I hereby certify the loading of the commodities described above.<br><br><br><br>
Name, signature and stamp:</p></td><td colspan="2"><small style="font-size:x-small;">Driver's Licence/ID:</small>{{object.transportDriverLicenceID}}</td></tr>
						<tr ><td><small style="font-size:x-small;">Vehicle registration:</small>{{object.transportVehicleRegistration}}<br><small>Trailer No.:</small>{{object.transportTrailerRegistration}}</td>
						<td><small style="font-size:x-small;">Container no 1:</small>{{object.containerOneNumber}} <small>Seal:</small>{{object.containerOneSealNumber}}
						<br><small style="font-size:x-small;">Container no 2:</small>{{object.containerTwoNumber}} <small>Seal:</small>{{object.containerTwoSealNumber}} </td></tr>
						<tr><td rowspan="2" colspan="2"><p style="font-size: x-small"><br>On behalf of the Transporter I hereby certify the receipt of the commodities as described above in good condition, unless otherwise endorsed here above.<br><br><br>
Name, signature and stamp:</p></td></tr>
				</table>
			</td>
		</tr>