<html>
<head>
<style type="text/css">

.number {
	text-align: center;
}

</style>
</head>
</html>		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head"><tr><th colspan="2">Certification of Commodities Received</th></tr></thead>
					<tr>
						<td><small>Location:</small>{{object.recipientLocation}}</td>
						<td ><samll>Arrival Date:	</small>{{object.recipientArrivalDate}}</td>
					</tr>
					<tr>
						<td><small>Consignee:</small>	{{object.recipientConsingee}}</td>
						<td ><small>Start Discharge Date:</small>	{{object.recipientStartDischargeDate}}</td>
					</tr>
					<tr>
						<td><small>Name:	</small>{{rec_person}}</td>
						<td ><small>End Discharge Date</small>{{object.recipientEndDischargeDate}}</td>
					</tr>
					<tr>
						<td><small>Title: 	</small>{{object.recipientTitle}}</td>
						<td ><small>Distance in KM</small>	{{object.recipientDistance}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head">
						<tr><th colspan="9">Observations</th></tr>
					</thead>
					<tr   style="font-size:x-small;">
						<td><sup>Receipt Condition</sup></td>
						<td colspan="2"><sup>Good</sup></td>
						<td colspan="5"><sup>Lost or Damaged cargo</sup></td>
						
						<td colspan="2"><sup>Total received</sup></td>
					</tr>
					<tr  style="font-size:x-small;">
<td><sup>SI No</sup></td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>	<td><sup >(L)oss or (D)amage</sup></td>	<td><sup>Type (specify)</sup></td><td>Reason</td>	<td><sup>Units</sup></td>	<td><sup>Net MT</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr style="font-size:small; text-align:right;">
<td style="text-align:left;"><span>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}</span></td>
<td>{{lineitem.numberUnitsGood|floatformat}}</td>
<td>{{lineitem.calcNetRecievedGood|floatformat}}</td>
<td style="text-align:center;">{%ifnotequal lineitem.numberUnitsLost 0%}
	L:{{lineitem.numberUnitsLost|floatformat}}
	{%endifnotequal%}
	{%ifnotequal lineitem.numberUnitsDamaged 0%}
	{%ifnotequal lineitem.numberUnitsLost 0%}/{%endifnotequal%}
	D:{{lineitem.numberUnitsDamaged|floatformat}}
	{%endifnotequal%}
	
</td>
<td style="text-align:center;">
	{%ifnotequal lineitem.numberUnitsLost 0%}
	L:{{lineitem.calcNetRecievedLost|floatformat}}
	{%endifnotequal%}
	{%ifnotequal lineitem.numberUnitsDamaged 0%}
	{%ifnotequal lineitem.numberUnitsLost 0%}/{%endifnotequal%}
	D:{{lineitem.calcNetRecievedDamaged|floatformat}}
	{%endifnotequal%}
	
	</td>
	
<td style="text-align:center;">{%ifnotequal lineitem.numberUnitsLost 0%}L{%ifnotequal lineitem.numberUnitsDamaged 0%}/{%endifnotequal%}{%endifnotequal%} {%ifnotequal lineitem.numberUnitsDamaged 0%}D{%endifnotequal%}</td>

<td style="text-align:left;"><!-- type-->
{%ifnotequal lineitem.numberUnitsLost 0%}L:{{lineitem.unitsLostType}} {%ifnotequal lineitem.numberUnitsDamaged 0%}<br>{%endifnotequal%}{%endifnotequal%} 
{%ifnotequal lineitem.numberUnitsDamaged 0%}D:{{lineitem.unitsDamagedType}} {%endifnotequal%}
</td>
<td style="text-align:left;"><!--reason-->
{%ifnotequal lineitem.numberUnitsLost 0%}L:{{lineitem.unitsLostReason}} {%ifnotequal lineitem.numberUnitsDamaged 0%}<br>{%endifnotequal%}{%endifnotequal%} 
{%ifnotequal lineitem.numberUnitsDamaged 0%}D:{{lineitem.unitsDamagedReason}} {%endifnotequal%}

</td>


<td>{{lineitem.calcTotalReceivedUnits|floatformat}}</td>
<td>{{lineitem.calcTotalReceivedNet|floatformat:1}}</td>	
						
					</tr>
					{%endfor%}
					<tr>
						<td colspan="10"><sup>Reciptient Remarks</sup>{{object.recipientRemarks}}
						{%if object.containerOneRemarksReciept%}
						<br>Container 1 Remarks:{{object.containerOneRemarksReciept}}
						{%endif%}
						{%if object.containerTwoRemarksReciept%}
						<br>Container 2 Remarks:{{object.containerTwoRemarksReciept}}
						{%endif%}
						<br><br></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td><table cellpadding="0" cellspacing="0" border="1px"><tr><td> <p style="font-size: x-small">On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp
Endorse this section with an official stamp</p></td><td><p style="font-size: x-small">On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp<br><br><br>
Endorse this section with an official stamp</p></td></tr></table></td>
</tr>

