
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head"><th colspan="2">Certification of Commodities Received</td></th></thead>
					<tr>
						<td><sup>Location:</sup></td>
						<td ><sup>Arrival Date:</sup></td>
					</tr>
					<tr>
						<td><sup>Consignee:</sup></td>
						<td ><sup>Start Discherge Date</sup></td>
					</tr>
					<tr>
						<td><sup>Name:</sup></td>
						<td ><sup>End Discharge Date</sup></td>
					</tr>
					<tr>
						<td><p>Title</p></td>
						<td ><sup>Distance in KM</sup></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="1px">
					<thead class="wb_head">
						<th colspan="9">Observations</th>
					</thead>
					<tr>
						<td><sup>Receipt Condition</sup></td>
						<td colspan="2"><sup>Good</sup></td>
						<td colspan="4"><sup>Lost or Damaged cargo</sup></td>
						<td colspan="2"><sup>Total received</sup></td>
					</tr>
					<tr>
						<td><sup>SI No</sup></td>
						<td><sup>Units</sup></td>
						<td><sup>Net MT</sup></td>
						<td><sup>Units</sup></td>
						<td><sup>Net MT</sup></td>
						<td><sup>(L)oss or (D)amage</sup></td>
						<td><sup>Type (specify)</sup></td>
						<td><sup>Units</sup></td>
						<td><sup>Net MT</sup></td>
					</tr>
					{%for lineitem in object.loadingdetail_set.select_related%}
					<tr>
						<td>ID {{forloop.counter}}. {{lineitem.siNo.coi_code}}</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
					</tr>
					{%endfor%}
					<tr>
						<td colspan="9"><sup>Reciptient Remarks</sup>{{object.recipientRemarks}}<br><br></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td><table cellpadding="0" cellspacing="0" border="1px"><tr><td> <p style="font-size: x-small">On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp
Endorse this section with an official stamp</p></td><td><p style="font-size: x-small">On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above.</p>
<p style="font-size: x-small">Name, signature and stamp<br><br><br>
Endorse this section with an official stamp</p></td></tr></table></td></tr>