{% extends "base_template.html"%}
{%block title %}{{detailed.0.CODE}}{%endblock%}
{%block content %}
<style type="text/css">
.itemhead{
	background-color: #0ee6ff;
}
.bordered{
border-collapse: collapse;
border-color: black;
	border-width: 1px;
	border-style: solid;
}
</style>
<table  width="800px" >
<tr><td>LTI Number: {{detailed.0.CODE}}</td><td>Date: {{detailed.0.LTI_DATE}}</td></tr>
<tr><td>Requested Dispatch Date: {{detailed.0.REQUESTED_DISPATCH_DATE}}</td><td>Expiry Date: {{detailed.0.EXPIRY_DATE}}</td></tr>
<tr><td>Origin: {{detailed.0.ORIGIN_LOC_NAME}}</td><td>Allocation Destination: {{detailed.0.DESTINATION_LOC_NAME}}</td></tr>

<tr><td>Project Number:{{detailed.0.PROJECT_WBS_ELEMENT}}</td><td>Consignee: {{detailed.0.CONSEGNEE_NAME}}</td></tr><tr><td>Contractor: {{detailed.0.TRANSPORT_NAME}}</td></tr>
	
</table>{%comment%}<pre>
	TRANSPORT_CODE				:{{detailed.0.TRANSPORT_CODE}}
	TRANSPORT_OUC				:{{detailed.0.TRANSPORT_OUC	}}
	ORIGIN_TYPE				:{{detailed.0.ORIGIN_TYPE	}}	
	ORIGINTYPE_DESC				:{{detailed.0.ORIGINTYPE_DESC }}
	ORIGIN_LOCATION_CODE			:{{detailed.0.ORIGIN_LOCATION_CODE}}
	ORIGIN_LOC_NAME				:{{detailed.0.ORIGIN_LOC_NAME}}
	ORIGIN_WH_CODE				:{{detailed.0.ORIGIN_WH_CODE}}
	ORIGIN_WH_NAME				:{{detailed.0.ORIGIN_WH_NAME}}
	DESTINATION_LOCATION_CODE		:{{detailed.0.DESTINATION_LOCATION_CODE}}
	DESTINATION_LOC_NAME			:{{detailed.0.DESTINATION_LOC_NAME}}
	CONSEGNEE_CODE				:{{detailed.0.CONSEGNEE_CODE}}
	CONSEGNEE_NAME				:{{detailed.0.CONSEGNEE_NAME}}</pre>
	{%endcomment%}
	<br>{%if profile.isDispatcher%}{%if detailed.0.ORIGIN_LOCATION_CODE == profile.warehouses.ORIGIN_LOCATION_CODE%}
	{%if moreWBs%}
<a href='{%url ets.waybill.views.waybillCreate detailed.0.CODE%}'>Create New Waybill</a><br>
{%endif%}{%endif%}{%endif%}
<br>
Items in LTI:
<table class='bordered' >
	<tr class='itemhead'><th class='bordered'>Commodity</th><th>SI</th><th class='bordered'>Units</th><th class='bordered'>To Be Dispatched</th></tr>
	{%for si in listOfSI_withDeduction%}
		 <tr  class='bordered'><td  class='bordered'>{{si.CommodityName}}&nbsp;</td><td  class='bordered'>&nbsp;{{si.SINumber}}&nbsp;</td><td  class='bordered' align="right">{{si.StartAmount}}</td><td  class='bordered' align="right">{{si.CurrentAmount|floatformat:2}}</td></tr>
	{%endfor%}
</table>



<br>
{%if listOfWaybills.count > 0%}
Current Waybills:<br>
<table class='bordered' >
{%for wb in listOfWaybills%}
	<tr><td colspan="3"  class='itemhead bordered'>WB:{{wb}} </td><td class='bordered'><a href='{%url ets.waybill.views.waybill_view wb.id%}?viewonly=true'> View Waybill</a></td></tr>
	<tr class='itemhead'><td></td><td class='bordered'>SI</td><td class='bordered'>Commodity</td><td class='bordered'>Units dispatched</td></tr>
	{%for loading in wb.loadingdetail_set.select_related %}
		<tr class='bordered'>
		<td class='bordered'>&nbsp;</td>
		<td class='bordered' >&nbsp;{{loading.siNo.SI_CODE}}&nbsp;</td>
		<td class='bordered'>&nbsp;{{loading.siNo.CMMNAME}}&nbsp; </td>
		<td class='bordered' align="right">{{loading.numberUnitsLoaded}} </td>

		</tr>
	{%endfor%}
{%endfor%}
{%endif%}

</table>


{%endblock%}