{% extends "base_template.html"%}
{%block content %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>Warehouse</th></tr>
        </thead>
    {% for wh in dispatch_list%}
    	{% for whdp in profile.warehouses.all%}
			{%if wh.3 == whdp.ORIGIN_WH_CODE%}
<tr><td><a href='list/{{wh.3}}'> {{wh.2}}</a></td></tr>
			{%endif%}
		{% endfor%}
    {% endfor%}
</table>
{%endblock%}
{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
				$('#example').dataTable( {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": false,
		"bInfo": false,
		"bAutoWidth": false });
} );
</script>
{%endblock extra-header%}