{% extends "base_template.html"%}
{%block title %}Waybill Creation{%endblock%}
{%block content %}
<style type="text/css">
.ul-inline ul, .ul-inline ul li{border-width: 1px; display: inline; padding: 0px;}
.ul-inline{margin: 2px; border-color: black; border-style: none; border-width: 1px;}
</style>
<form action="" method=POST id="delform">
{%for item in form%}
{% if item.errors %}
    <ol>
    {% for error in item.errors %}
        <li>{{item.label}}<strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
  {% endfor %}
<div class="form">
	<div>
		<span><strong>LTI:</strong> {{lti_list.0.CODE}}{{form.ltiNumber}}</span>
	</div>{%if form.instance.waybillNumber%}
	<div>
		<span><strong>Waybill Nr:</strong> {{form.instance.waybillNumber}}</span>
	</div>{%endif%} {{form.waybillNumber}}
	<div>
		<span><strong>Date of Loading:</strong> {{form.dateOfLoading}}</span>
		<span><strong>Date of Dispatch: </strong>{{form.dateOfDispatch}}</span>
	</div>
<table>
		<tr>
			<th>Transaction Type:</th>
			<td> {{form.transactionType}}</td>
			<td>&nbsp;</td>
			<th>Transport Type:</th>
			<td> {{form.transportType}}</td>
		</tr>
	</table>
<strong>Recipient Location:</strong>    {{form.recipientLocation}} {{form.recipientConsingee}}    	{{lti_list.0.DESTINATION_LOC_NAME}}
<br><strong>Consignee :</strong> {{lti_list.0.CONSEGNEE_NAME}}
<br>
<strong>Destination Warehouse:<strong> {{form.destinationWarehouse}}
{{ formset.management_form }}
<br><br>
<table cellpadding="1px" cellspacing="1px" id="example" style="border:1px;">
    <thead>
	<tr><th></th><th>Commodity</th><th>Number of units</th></tr>
	 </thead>
{% for sform in formset.forms %}
<tr><td>	{{ sform.id }}{{forloop.counter}}</td><td>{{ sform.siNo }}</td><td>{{ sform.numberUnitsLoaded }}</td></tr>
{% endfor %}
 </table>
 
 <br>
<div>
<div><strong>Dispatch Remarks:</strong> {{form.dispatchRemarks}}
<div><strong>Dispatcher Name:</strong>{{form.dispatcherName}}{{form.dispatcherTitle}}{{user.get_profile.compasUser.last_name}}</div>
<br>
<div><table>
<tr><td><strong>Transport Contractor:</strong></td><td>{{lti_list.0.TRANSPORT_NAME}}{{form.transportContractor}}</td></tr>
<tr><td><strong>Transport Subcontractor:</strong></td><td>{{form.transportSubContractor}}</td></tr>
<tr><td><strong>Driver's Name:</strong></td><td>{{form.transportDriverName}}</td></tr>
<tr><td><strong>Driver's Licens No:</strong></td><td>{{form.transportDriverLicenceID}}</td></tr>
<tr><td><strong>Vehicle Registration No:</strong></td><td>{{form.transportVehicleRegistration}}</td></tr>
<tr><td><strong>Trailer Registration No:</strong></td><td>{{form.transportTrailerRegistration}}</td></tr>
</table>
</div>
<br>
<strong>Container 1: Number:</strong>{{form.containerOneNumber}}<strong> Seal:</strong>{{form.containerOneSealNumber}}<strong> Remarks:</strong>{{form.containerOneRemarksDispatch}}<br>
<strong>Container 2: Number:</strong>{{form.containerTwoNumber}}<strong> Seal:</strong>{{form.containerTwoSealNumber}}<strong> Remarks:</strong>{{form.containerTwoRemarksDispatch}}

</div>

<input type="submit" value="Save & Print"> {% csrf_token %}
</form>
{%endblock%}
{%block extra-header%}
<script charset="utf-8" type="text/javascript">


$(document).ready(function() {
				$('#id_dateOfDispatch').datepicker({ dateFormat: 'yy-mm-dd' });
				$('#id_dateOfLoading').datepicker({ dateFormat: 'yy-mm-dd' });				
				$('#example').dataTable( {});
} );

</script>
{%endblock extra-header%}
