{% extends "base_template.html"%}
{%block title %}Waybill Creation{%endblock%}
{%block content %}
<form action="" method=POST>
{%for item in form%}
{% if item.errors %}
    <ol>
    {% for error in item.errors %}
        <li>{{item.label}}<strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
  {% endfor %}
<div class="form">
	<div>
		<span>LTI: {{lti_list.0.CODE}}{{form.ltiNumber}}</span>
	</div>
	<div>
		<span>Waybill Nr: {{form.waybillNumber}}</span>
	</div>
	<div>
		<span>Date of Loading: {{form.dateOfLoading}}</span>
		<span>Date of Dispatch: {{form.dateOfDispatch}}</span>
	</div>
	<div>
		<span>Transaction Type: {{form.transactionType}}</span>
		<span>Transport Type {{form.transportType}}</span>
	</div>
recipient location:autofill        	{{form.recipientLocation}}

{{ formset.management_form }}
<table>
	<tr><th>Line</th><th>Commodity</th><th>Number of units</th>
{% for sform in formset.forms %}
	{{ sform.id }}<tr><td>{{forloop.counter}}</td><td>{{ sform.siNo }}</td><td>{{ sform.numberUnitsLoaded }}</td></tr>
{% endfor %}
 </table>
<div style="text-align:top;">Dispatch Remarks: {{form.dispatchRemarks}}</div>
<div>Dispatcher Name:{{form.dispatcherName}}(autofill)</div>
<div>Transport Contractor:{{form.transportContractor}}
        	Transport Subcontractor:{{form.transportSubContractor}}
        	{{form.transportDriverName}}
        	{{form.transportDriverLicenceID}}
        	{{form.transportVehicleRegistration}}
        	{{form.transportTrailerRegistration}}
        	{{form.transportDispachSigned}}</div>
        	
Container 1: Number:{{form.containerOneNumber}} Seal: {{form.containerOneSealNumber}}Dispatch Remarks {{form.containerOneRemarksDispatch}}
Container 2: Number:{{form.containerTwoNumber}} Seal: {{form.containerTwoSealNumber}}Dispatch Remarks {{form.containerOneRemarksDispatch}}

</div>

<input type="submit"> {% csrf_token %}
</form>
{%endblock%}

