{% extends "base_template.html"%}
{%block content %}
<h3>Submitted Dispatch & Validated Waybills to Compas</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>LTI</th><th>Waybill Number</th><th>Origin</th><th>Consignee</th><th>Delivery Location</th><th>Compas Updated</th></tr>
        </thead>
{% for waybill in waybill_list%}

<tr>
 			<td>{{waybill.ltiNumber}}</td>
 			<td>{{waybill.waybillNumber}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.ORIGIN_LOC_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.CONSEGNEE_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.DESTINATION_LOC_NAME}}</td>
  			<td>Dispatch</td>
    </tr>
{% endfor%}
{% for waybill in waybill_list_rec%}

<tr>
 			<td>{{waybill.ltiNumber}}</td>
 			<td>{{waybill.waybillNumber}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.ORIGIN_LOC_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.CONSEGNEE_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.DESTINATION_LOC_NAME}}</td>
  			<td>Receipt</td>
 			
    </tr>
{% endfor%}
</table>
{%if error_message %}
<pre>
<div>{{error_message}}
</div><br>
<div>{{error_message}}</div>

{%endif%}
<br>
{%endblock%}

{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
				$('#example').dataTable( {				"aoColumns": [ 
			null,
			null,
			null,
			null,
			null,
			{ "bSearchable": false},
		] });
} );
</script>
{%endblock extra-header%}