{% extends "base_template.html"%}

{%block content %}
<h3>Warehouse: {{user.profile.warehouses.ORIGIN_WH_NAME}}</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>LTI</th><th>Date</th><th>Destination</th><th>Dest Location</th><th>Action</th></tr>
        </thead>
{% for lti in ltis%}
    <tr>
        <td>
            {{lti.CODE}} 
        </td>
        <td>{{lti.LTI_DATE}}</td>
        
        <td>{{lti.DESTINATION_LOC_NAME}}
        </td>
        <td>{{lti.CONSEGNEE_NAME}}
        </td>
        <td><a href='../info/{{lti.CODE}}'>select</a>
        </td>
    </tr>
{% endfor%}

    </table>
{%endblock%}
{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
				$('#example').dataTable();
} );
</script>
{%endblock extra-header%}
