{% extends "base_template.html"%}
{%block title %}Welcome to EPIC eTS{%endblock%}
{%block content %}


{%for item in form%}
{% if item.errors %}
    <ol>
    {% for error in item.errors %}
        <li>{{item.label}}<strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
  {% endfor %}
<form action="" method=POST>

<div>
<table cellpadding="0" cellspacing="0" border="0">
<tr><td>Waybill Number:</td><td> {{form.waybillNumber}} {{form.instance.waybillNumber}}</td></tr>
<tr><td>Recipient Location:</td><td> {{form.recipientLocation}}{{form.instance.recipientLocation}}</td></tr>
<tr><td>Consignee:</td><td>{{form.recipientConsingee}}{{form.instance.recipientConsingee}}</td></tr>
<tr><td>&nbsp;</td><td></td></tr>
<tr><td>Arrival Date: </td><td>{{form.recipientArrivalDate}}</td></tr>
<tr><td>Start Discharge:</td><td>{{form.recipientStartDischargeDate}}</td></tr>
<tr><td>End Discharge: </td><td>{{form.recipientEndDischargeDate}}</td></tr>
<tr><td>Distance: </td><td>{{form.recipientDistance}}</td></tr>
</table>
</div>
<br>

 {{ formset.management_form }}
 <table cellpadding="1" cellspacing="0" border="1" class="x" id="example">
    <thead>
        <tr><th>Item</th><th>Dispatched</th><th>Good</th><th>Damaged</th><th>Lost</th>
        </thead>

    {% for sform in formset.forms %}
        {{ sform.id }}
        <tr>
        	<td>{{sform.siNo}}</td>
        	<td align="right">{{ sform.numberUnitsLoaded }}{{sform.instance.numberUnitsLoaded}}</td>
        	<td>{{ sform.numberUnitsGood }}</td>
        	<td>{{ sform.numberUnitsDamaged }} Type: {{ sform.unitsDamagedType }} Reason:{{ sform.unitsDamagedReason }}</td>
        	<td>{{ sform.numberUnitsLost }} Type:{{ sform.unitsLostType }} Reason:{{ sform.unitsLostReason }}</td>
        </tr>
    {% endfor %}
    </table>
<div>
<br>

<table>
<tr><td colspan="3">Recipient Remarks:</td><td colspan="3">{{form.recipientRemarks}}</td></tr>

<tr><td>Container 1:</td><td>{{form.instance.containerOneNumber}}</td><td> Seal: </td><td>{{form.instance.containerOneSealNumber}}</td><td> Remarks:</td><td>{{form.containerOneRemarksReciept}}</td></tr>
<tr><td>Container 2:</td><td>{{form.instance.containerTwoNumber}}</td><td> Seal: </td><td>{{form.instance.containerTwoSealNumber}}</td><td> Remarks:</td><td>{{form.containerTwoRemarksReciept}}</td></tr>

</table>

</div>

<input type="submit" value="Save & Print"> {% csrf_token %}
</form>


{%endblock%}
{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
				$('#id_recipientArrivalDate').datepicker({ dateFormat: 'yy-mm-dd' });
				$('#id_recipientStartDischargeDate').datepicker({ dateFormat: 'yy-mm-dd' });
				$('#id_recipientEndDischargeDate').datepicker({ dateFormat: 'yy-mm-dd' });
				$('#example').dataTable( {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": false,
		"bInfo": false,
		"bAutoWidth": false });
} );
</script>
{%endblock extra-header%}
