{% extends "base_template.html"%}
{%load extra_tags%}
{%block title %}Select Action{%endblock%}
{%block content %}
 {% if user.is_authenticated %} 
Select an action:
<ul>
{%if myprofile.isDispatcher%}<li><a href='{%url ets.waybill.views.listOfLtis myprofile.warehouses.origin_wh_code%}'>Create & Dispatch Waybill</a></li>{%endif%}
{%if myprofile.isReciever%}<li><a href='{%url ets.waybill.views.waybill_reception_list %}'>Receive Waybill</a></li>{%endif%}
{%if myprofile.isCompasUser%}<li><a href='waybill/validate'>Validate Waybill</a></li>
    <li><a href='{%url ets.waybill.views.import_ltis%}'>Update DB</a>{%endif%}
{%if myprofile.superUser%}<li><a href='{%url ets.waybill.views.waybill_search%}'>Reset waybills</a>{%endif%}
{%if myprofile.readerUser or myprofile.superUser%}<li><a href='{%url ets.waybill.views.ltis%}'>View LTIs</a>{%endif%}
<!--{%if myprofile.superUser%}<li><a href="{%url  ets.waybill.views.select_report%}">Reports</a>{%endif%}-->

<li><form action='waybill/findwb'><input type="text" name="wbnumber"/><input type="submit" value="Search Waybill"></form>
    <li>&nbsp;
{%if myprofile.isReciever%}<li>Scan Waybill --><form method='POST' action='waybill/deserialize/'><input type="text" name="wbdata"/>{% csrf_token %}<input type="submit" value="Receive Scanned Waybill"></li>{%endif%}

</ul>
{%else%}
Please log in. <a href='{%url django.contrib.auth.views.login%}?next={%url ets.waybill.views.selectAction%}'>login</a>
{%endif%}
{%print_tag%}
{%endblock%}