{% extends "base_template.html"%}
{%block title %}Select Action{%endblock%}
{%block content %}
Select an action:
<ul>
{%if user.profile.isDispatcher%}<li><a href='{%url ets.waybill.views.listOfLtis user.profile.warehouses.ORIGIN_WH_CODE%}'>Create & Dispatch Waybill</a></li>{%endif%}
{%if user.profile.isReciever%}<li><a href='{%url ets.waybill.views.waybill_reception_list %}'>Receive Waybill</a></li>{%endif%}
{%if user.profile.isCompasUser%}<li><a href='waybill/validate'>Validate Waybill</a></li>
    <li><a href='{%url ets.waybill.views.import_ltis%}'>Update DB</a>{%endif%}
{%if user.profile.superUser%}<li><a href='{%url ets.waybill.views.waybill_search%}'>Reset waybills</a>{%endif%}
{%if user.profile.readerUser or user.profile.superUser%}<li><a href='{%url ets.waybill.views.ltis%}'>View LTIs</a>{%endif%}
 <li><form action='waybill/findwb'><input type="text" name="wbnumber"/><input type="submit" value="Search Waybill"></form>
    <li>&nbsp;
{%if user.profile.isReciever%}<li>Scan Waybill --><form method='POST' action='waybill/deserialize/'><input type="text" name="wbdata"/>{% csrf_token %}<input type="submit" value="Receive Scanned Waybill"></li>{%endif%}
</ul>
{%endblock%}