{% extends "base_template.html"%}
{%block content %}
<h3>Submitted Dispatch & Validated Waybills to Compas</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr><th>LTI</th><th>Waybill Number</th><th>Origin</th><th>Consignee</th><th>Delivery Location</th><th>Dispatch</th><th>Validated</th><th>Received</th><th>Validated</th><th>Compas Updated</th><th></th></tr>
        </thead>


<tr>
 			<td>{{waybill.ltiNumber}}</td>
 			<td>{{waybill.waybillNumber}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.ORIGIN_LOC_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.CONSEGNEE_NAME}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.DESTINATION_LOC_NAME}}</td>
 			<td>{%if waybill.dispatcherSigned%}Y{%else%}N{%endif%} </td>
 			<td>{%if waybill.waybillValidated%}Y{%else%}N{%endif%}  </td>
 			<td>{%if waybill.recipientSigned%}Y{%else%}N{%endif%} </td>
 			<td>{%if waybill.waybillReceiptValidated%}Y{%else%}N{%endif%}  </td>
  			<td>{%if waybill.waybillSentToCompas%}Y{%else%}N{%endif%} </td>
 			<td>{%if profile.isDispatcher or profile.isCompasUser%}<a href='{%url ets.waybill.views.waybill_view waybill.id%}'>View Dispatch</a>{%endif%}
 					{%if profile.isReciever or profile.isCompasUser%} <a href='{%url ets.waybill.views.waybill_view_reception waybill.id%}'>View Reciept</a>{%endif%}
 					{%if profile.isCompasUser%} <a href='{%url ets.waybill.views.waybill_view_reception waybill.id%}'>View Full</a>{%endif%}
 			</td>
    </tr>
</table>
{%if error_message %}
<pre>
<div>{{error_message}}
</div></pre>
{%endif%}
<br>
{%endblock%}

{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
				$('#example').dataTable( {				"aoColumns": [ 
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "bSearchable": false},
		] });
} );
</script>
{%endblock extra-header%}