{% extends "base_template.html"%}
{%block title%}Stock List{%endblock%}
{%block content %}
<table id='toplist'>
    <thead>
        <tr>
        <th>Warehouse</th>
        <th>Commodity</th>
        <th>Items</th>
        <th>MT Net</th>
        <th>Quality</th></tr>
        </thead>
    {% for item in stocklist%}
   
 		<tr {%if item.qualitycode != 'G'%}style="color:red"{%endif%}>
 			<td>{%ifchanged%}{{item.wh_name}}{%endifchanged%}</td>
 			<td>{%ifchanged%}{{item.cmmname}}{%endifchanged%}</td>
 			<td>{{item.number_of_units}}</td>
 			<td>{%if item.packagename == 'BULK'%}{{item.quantity_net}}{%endif%}</td>
 			<th>{%if item.qualitycode != 'G'%}{{item.qualitydescr}}{%endif%}</th>
 			
 		</tr>

    {% endfor%}
</table>
<script charset="utf-8">
$(document).ready(function() {
				$('#toplist').dataTable();
} );
</script>
{%endblock%}