{% load extra_tags i18n %}
<table id="receipt" cellspacing="0" cellpadding="0">
<thead>
	<tr>
		<th colspan="2">IV. {% trans "Certification of Commodities Received" %}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td class="w50"><p>28. {% trans "Destination Location" %}: </p> </td>
		<td class="w50"><p>32. {% trans "Arrival Date" %}: </p> </td>
	</tr>
	<tr>
		<td><p>29. {% trans "Consignee" %}: </p> </td>
		<td><p>33. {% trans "Start Unloading Date" %}: </p> </td>
	</tr>
	<tr>
		<td><p>30. {% trans "Name" %}: </p> </td>
		<td><p>34. {% trans "End Unloading Date" %}: </p> </td>
	</tr>
	<tr>
		<td><p>31. {% trans "Title" %}: </p> </td>
		<td><p>35. {% trans "Distance Covered (km)" %}: </p> </td>
	</tr>
</tbody>
</table>
