{% load extra_tags i18n %}
<table id="loaded" cellspacing="0" cellpadding="0">
<thead>
	<tr>
		<th colspan="2">III. {% trans "Certification of Commodities Loaded" %} <span class="x-small">(please endorse this section with an official stamp)</span></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td width="50%">
			<p>WAREHOUSE/DISPATCH POINT</p> {{ object.destination.location.name }}
		</td>
		<td width="50%">
			<p>23. {% trans "Transport Contractor" %}: </p> {{ object.order.transport_name }}
		</td>
	</tr>
	<tr>
		<td>
			<p>21. {% trans "Name" %}: </p> {{ object.dispatcher_person.get_full_name }}
		</td>
		<td>
			<p>24. {% trans "Transport Subcontractor" %}: </p> {{ object.transport_sub_contractor }}
		</td>
	</tr>
	<tr>
		<td>
			<p>22. {% trans "Title" %}: </p> {{ object.dispatcher_person.title }}
		</td>
		<td>
			<p>25. {% trans "Driver's Name" %}: </p> {{ object.transport_driver_name }}
		</td>
	</tr>
	<tr>
		<td>
			<p>{% trans "Container 1" %}: </p>
{% if object.container_one_number %}
			{% trans "No." %}: {{ object.container_one_number }}<br/>
{% endif %}
{% if object.container_one_seal_number %}
			{% trans "Seal" %}: {{ object.container_one_seal_number }}<br/>
{% endif %}
{% if object.container_one_remarks_dispatch %}
			{% trans "Remarks" %}: {{ object.container_one_remarks_dispatch }}
{% endif %}
		</td>
		<td>
			<p>26. {% trans "Driver's Licence/ID" %}: </p> {{ object.transport_driver_licence }}
		</td>
	</tr>
	<tr>
		<td>
			<p>{% trans "Container 2" %}:</p>
{% if object.container_two_number %}
			{% trans "No." %}: {{ object.container_two_number }}<br/>
{% endif %}
{% if object.container_two_seal_number %}
			{% trans "Seal" %}: {{ object.container_two_seal_number }}<br/>
{% endif %}
{% if object.container_two_remarks_dispatch %}
			{% trans "Remarks" %}: {{ object.container_two_remarks_dispatch }}
{% endif %}
		</td>
		<td>
			<p>27. {% trans "Vehicle registration" %}: </p>
			{{ object.transport_vehicle_registration }}
{% if object.transport_trailer_registration %}
			<br/>
			<p> &nbsp; &nbsp; &nbsp; {% trans "Trailer No." %}: </p>
			{{ object.transport_trailer_registration }}
{% endif %}
		</td>
	</tr>
	<tr>
		<td class="signature">
			<p>{% trans "I hereby certify the loading of the commodities described above." %}</p> 
{% if object.transport_dispach_signed_date %}
			{{ object.dispatcher_person.get_full_name }}<br/>
			{% trans "Date:" %} {{ object.transport_dispach_signed_date|date|upper }}<br/>
{% endif %}
			<span class="stamp">{% trans "Name, signature and stamp" %}</span>
		</td>
		<td class="signature">
			<p>{% trans "On behalf of the Transporter I hereby certify the receipt of the commodities as described above in good condition, unless otherwise endorsed here above." %}</p>
			{% if object.transport_dispach_signed_date %}
				{{ object.transport_driver_name|upper }}<br/>
				{% trans "Date:" %}{{object.transport_dispach_signed_date|date|upper}}<br/>
			{% endif %}
			<span class="stamp">{% trans "Name, signature and stamp" %}</span>
		</td>
	</tr>
</tbody>
</table>
