<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/html1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{{ object }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/waybill.css" media="print" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/waybill.css" media="screen" />
</head>
<body>
{% load i18n extra_tags %}
{% include 'waybill/print/header.html' %}
{% include 'waybill/print/transaction_details.html' %}
{% include 'waybill/print/loading_details.html' %}
{% include 'waybill/print/commodities_loaded.html' %}
{% include 'waybill/print/commodities_received.html' %}
{% include 'waybill/print/observations.html' %}
</body>
</html>
