<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{{ object }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/print.css" media="print" />
</head>
<body>
{% load i18n extra_tags %}
  {% include 'waybill/print/header.html' %}
  {% include 'waybill/print/general.html' %}
  {% include 'waybill/print/loading.html' %}
  {% include 'waybill/print/receipt.html' %}
</body>
</html>