{% load extra_tags thumbnail cache %}
{% load i18n %}

<table id="general" cellspacing="0">
<thead>
	<tr>
		<th colspan="5">I. {% trans "Transaction Details" %}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			<span>1. {% trans "Origin(location)" %}:</span>
			{{ object.order.warehouse.location.name }}
		</td>
		<td>
			<span>2. {% trans "Origin(warehouse)" %}:</span>
			{{ object.order.warehouse.name }}
		</td>
		<td>
			<span>3. {% trans "Destination(location)" %}:</span>
			{{ object.destination.location.name }}
		</td>
		<td>
			<span>4. {% trans "Destination(warehouse)" %}:</span>
			{{ object.destination.name }}
		</td>
		<td rowspan="4" class="barcode">
          {% cache 100000 barcode object.pk object.transport_dispach_signed_date object.sent_compas object.receipt_sent_compas object.receipt_signed_date %}
            <img alt="barcode" src="{{ barcode_url }}" width="200" height="200"/>
            {% comment %}
            {% thumbnail barcode_url "200x200" as im %}
			<img alt="barcode" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
			{% endthumbnail %}
            {% endcomment %}
          {% endcache %}
		</td>
	</tr>
	<tr>
		<td>
			<span>5. {% trans "Allocation Destination" %}:</span>
			{{ object.destination.location.get_country_display }}
		</td>
		<td>
			<span>6. {% trans "Consignee" %}:</span>
			{{ object.order.consignee }}
		</td>
		<td>
			<span>7. Requested Dispatch Date</span>
			{{ object.order.dispatch_date|date|upper }}
		</td>
		<td>
			<span>8. {% trans "LTI No." %}:</span>
			{{ object.order.pk }}
		</td>
	</tr>
	<tr>
		<td>
			<span>9. {% trans "Date of Loading" %}:</span>
			{{ object.loading_date|date|upper }}
		</td>
		<td>
			<span>10. {% trans "Date of Dispatch" %}:</span>
			{{ object.dispatch_date|date|upper }}
		</td>
		<td>
			<span>11. {% trans "Type of Transaction" %}:</span>
			{{ object.get_transaction_type_display }}
		</td>
		<td>
			<span>12. {% trans "Transport Type" %}:</span>
			{{ object.get_transport_type_display }}
		</td>
	</tr>
</tbody>
</table>
