{% load extra_tags i18n %}
	<table id="header" cellspacing="0">
	<tbody>
		<tr>
			<td align="center" width="80">
				<img width="62px" height="75px" src="{{ STATIC_URL }}images/logo_small.gif"/>
			</td>
			<td align="center">
				<h1>{% trans "Waybill" %} {% trans "No:" %} {{ object.pk }}</h1>
				<span id="top_note">{% trans "Conditions of carriage as indicated overleaf are applicable" %}</span>
				<h1 id="copy_lable">COPY</h1>
				{% if print_original %}
				<h1 id='original_lable'>{% trans "ORIGINAL" %}</h1>
				{% else %}
				<h1 id='copy_lable'>{% trans "COPY" %}</h1>
				{% endif %}
			</td>
		</tr>
	</tbody>
	</table>
