{% load extra_tags i18n %}
<table id="loading_details" cellspacing="0" cellpadding="0">
<thead>
	<tr>
		<th colspan="9">II. {% trans "Loading Details" %}</th>
	</tr>
</thead>
<tbody>
	<tr class="title">
		<td style="width:11%">13. {% trans "SI No" %}</td>
		<td style="width:9%">7. {% trans "Project no." %}</td>
		<td style="width:14%">14. {% trans "Commodity" %}</td>
		<td style="width:22%">15. {% trans "Packing" %}</td>
		<td style="width:8%">16. {% trans "Units" %}</td>
		<td style="width:18%" colspan="2">{% trans "Unit Weight (kg)" %}<br/>
			<span>17. {% trans "Net" %}</span> &nbsp; &nbsp;
			<span>18. {% trans "Gross" %}</span>
		</td>
		<td style="width:18%" colspan="2">{% trans "Tonnage (mt)" %}<br/>
			<span>19. {% trans "Net" %}</span> &nbsp; &nbsp;
			<span>20. {% trans "Gross" %}</span>
		</td>
	</tr>
{% for lineitem in items %}
    <tr>
        <td>{% trans "ID" %} {{ forloop.counter }}. {{ lineitem.stock_item.coi_code }}</td>
        <td>{{ lineitem.stock_item.project_number }}</td>
        <td>{{ lineitem.stock_item.commodity.name }}</td>
        <td>{{ lineitem.stock_item.package.name }}</td>
        <td class="number">{{ lineitem.number_of_units }}</td>
        <td class="number">{{ lineitem.unit_weight_net|floatformat:3 }}</td>
        <td class="number">{{ lineitem.unit_weight_gross|floatformat:3 }}</td>
        <td class="number">{{ lineitem.total_weight_net|floatformat:3 }}</td>
        <td class="number">{{ lineitem.total_weight_gross|floatformat:3 }}</td>
    </tr>
{% endfor %}
	<tr>
		<td colspan="9">
			<p>{% trans "Dispatch Remarks" %}:</p>
			{{ object.dispatch_remarks }}
		</td>
	</tr>
</tbody>
</table>