{% load extra_tags i18n %}
<table id="observations" cellspacing="0" cellpadding="0">
<thead>
	<tr>
		<th colspan="8">V. {% trans "Observations" %} <span class="x-small">(For Lost or Damaged Goods please indicate weight and cause)</span></th>
	</tr>
</thead>
<tbody>
	<tr class="sans">
		<td>{% trans "Receipt Condition" %}</td>
		<td colspan="2">{% trans "Good" %}</td>
		<td colspan="3">{% trans "Lost or Damaged cargo" %}</td>
		<td colspan="2">{% trans "Total received" %}</td>
	</tr>
	<tr class="sans">
		<td width="20%">{% trans "SI No" %}</td>
		<td width="10%">{% trans "Units" %}</td>
		<td width="10%">{% trans "Net MT" %}</td>
		<td width="10%">{% trans "Units" %}</td>
		<td width="10%">{% trans "Net MT" %}</td>
		<td width="20%">{% trans "Reason" %}</td>
		<td width="10%">{% trans "Units" %}</td>
		<td width="10%">{% trans "Net MT" %}</td>
	</tr>
{% for lineitem in items %}
	<tr>
		<td>{% trans "ID" %} {{ forloop.counter }}. {{ lineitem.stock_item.coi_code }}</td>
		<td class="number">
		{% if lineitem.number_units_good %}
			{{ lineitem.number_units_good|floatformat:3 }}
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_good %}
			{{ lineitem.calculate_net_received_good|floatformat:3}}
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.number_units_lost|floatformat:3 }}
		{% endif %}
		{% if lineitem.number_units_damaged %}
            {% if lineitem.number_units_lost %}
				/
			{% endif %}
            D:{{ lineitem.number_units_damaged|floatformat:3 }}
          {% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.calculate_net_received_lost|floatformat:3 }}
		{% endif %}
		{% if lineitem.number_units_damaged %}
			{% if lineitem.number_units_lost %}
				/
			{% endif %}
			D:{{ lineitem.calculate_net_received_damaged|floatformat:3 }}
		{% endif %}
		</td>
		<td>
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.units_lost_reason.cause }} 
		{% endif %} 
		{% if lineitem.number_units_damaged %}
			{% if lineitem.number_units_lost %}
				/
			{% endif %}
			D:{{ lineitem.units_damaged_reason.cause }} 
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.calculate_total_received_units %}
			{{ lineitem.calculate_total_received_units|floatformat:3 }}
		{% endif %}
		</td>
        <td class="number">
		{% if lineitem.total_weight_net_received %}
			{{ lineitem.total_weight_net_received|floatformat:3 }}
		{% endif %}
		</td>    
	</tr>
{% endfor %}   
	<tr>
		<td colspan="8">
			<p>{% trans "Reciptient Remarks" %}:</p>
       		{{ object.receipt_remarks }}
			{% if object.container_one_remarks_reciept%}
				<p>{% trans "Container 1 Remarks:" %}{{ object.container_one_remarks_reciept }}</p>
			{%endif%}
			{% if object.container_two_remarks_reciept %}
				<p>{% trans "Container 2 Remarks:" %}{{ object.container_two_remarks_reciept }}</p>
			{%endif%}
		</td>
	</tr>
	<tr>
		<td class="signature" colspan="4">
			<p>{% trans "On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above." %}</p>
			{% if object.receipt_signed_date %}
				{{ object.receipt_person.get_full_name }}<br/>
				{% trans "Date:" %}{{ object.receipt_signed_date|date|upper }}<br/>
			{% endif %}
			<p class="stamp">{% trans "Name, signature and stamp" %}</p>
		</td>
		<td class="signature" colspan="4">
			<p>{% trans "On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above." %}</p>
			{% if object.receipt_signed_date %}
				{{ object.transport_driver_name|upper}}<br/>
				{% trans "Date:" %} {{ object.receipt_signed_date|date|upper }}<br/>
			{% endif %}
			<p class="stamp">{% trans "Name, signature and stamp" %}</p>
		</td>
	</tr>
</tbody>
</table>
    
