{% load extra_tags %}
{% load i18n %}
<table id="receipt">
<thead>
	<tr>
		<th colspan="8">IV. {% trans "Certification of Commodities Received" %}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><span>28. {% trans "Location" %}: </span> {{ object.destination.location.name }}</td>
		<td><span>32. {% trans "Arrival Date" %}: </span> {{ object.arrival_date|date|upper }}</td>
	</tr>
	<tr>
		<td><span>29. {% trans "Consignee" %}: </span> {{ object.order.consignee }}</td>
		<td><span>33. {% trans "Start Discharge Date" %}: </span> {{ object.start_discharge_date|date|upper }}</td>
	</tr>
	<tr>
		<td><span>30. {% trans "Name" %}: </span> {{ object.receipt_person.get_full_name }}</td>
		<td><span>34. {% trans "End Discharge Date" %}: </span> {{ object.end_discharge_date|date|upper }}</td>
	</tr>
	<tr>
		<td><span>31. {% trans "Title" %}: </span> {{ object.receipt_person.title }}</td>
		<td><span>35. {% trans "Distance in KM" %}: </span> {{ object.distance|default:"" }}</td>
	</tr>
</tbody>
</table>

<table id="observations">
<thead>
	<tr>
		<th colspan="11">V. {% trans "Observations" %} <span class="x-small">(For Lost or Damaged Goods please indicate weight and cause)</span></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>{% trans "Receipt Condition" %}</td>
		<td colspan="2">{% trans "Good" %}</td>
		<td colspan="3">{% trans "Lost or Damaged cargo" %}</td>
		<td colspan="2">{% trans "Total received" %}</td>
	</tr>
	<tr>
		<td>{% trans "SI No" %}</td>
		<td>{% trans "Units" %}</td><td>{% trans "Net MT" %}</td>
		<td>{% trans "Units" %}</td><td>{% trans "Net MT" %}</td><td>{% trans "Reason" %}</td>
		<td>{% trans "Units" %}</td><td>{% trans "Net MT" %}</td>
	</tr>
{% for lineitem in items %}
	<tr>
		<td>{% trans "ID" %} {{ forloop.counter }}. {{ lineitem.stock_item.coi_code }}</td>
		<td class="number">
		{% if lineitem.number_units_good %}
			{{ lineitem.number_units_good|floatformat:3 }}
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_good %}
			{{ lineitem.calculate_net_received_good|floatformat:3}}
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.number_units_lost|floatformat:3 }}
		{% endif %}
		{% if lineitem.number_units_damaged %}
            {% if lineitem.number_units_lost %}
				/
			{% endif %}
            D:{{ lineitem.number_units_damaged|floatformat:3 }}
          {% endif %}
		</td>
		<td class="number">
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.calculate_net_received_lost|floatformat:3 }}
		{% endif %}
		{% if lineitem.number_units_damaged %}
			{% if lineitem.number_units_lost %}
				/
			{% endif %}
			D:{{ lineitem.calculate_net_received_damaged|floatformat:3 }}
		{% endif %}
		</td>
		<td>
		{% if lineitem.number_units_lost %}
			L:{{ lineitem.units_lost_reason.cause }} 
		{% endif %} 
		{% if lineitem.number_units_damaged %}
			{% if lineitem.number_units_lost %}
				/
			{% endif %}
			D:{{ lineitem.units_damaged_reason.cause }} 
		{% endif %}
		</td>
		<td class="number">
		{% if lineitem.calculate_total_received_units %}
			{{ lineitem.calculate_total_received_units|floatformat:3 }}
		{% endif %}
		</td>
        <td class="number">
		{% if lineitem.total_weight_net_received %}
			{{ lineitem.total_weight_net_received|floatformat:3 }}
		{% endif %}
		</td>    
	</tr>
{% endfor %}   
	<tr>
		<td colspan="8">
			<span>{% trans "Reciptient Remarks" %}:</span>
       		{{ object.receipt_remarks }}
			{% if object.container_one_remarks_reciept%}
				<p>{% trans "Container 1 Remarks:" %}{{ object.container_one_remarks_reciept }}</p>
			{%endif%}
			{% if object.container_two_remarks_reciept %}
				<p>{% trans "Container 2 Remarks:" %}{{ object.container_two_remarks_reciept }}</p>
			{%endif%}
		</td>
	</tr>
	<tr>
		<td class="signature" colspan="4">
			<span>{% trans "On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above." %}</span>
			{% if object.receipt_signed_date %}
				{{ object.receipt_person.get_full_name }}<br/>
				{% trans "Date:" %}{{ object.receipt_signed_date|date|upper }}
			{% endif %}
			{% trans "Name, signature and stamp" %}
		</td>
		<td class="signature" colspan="4">
			<span>{% trans "On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above." %}</span>
			{% if object.receipt_signed_date %}
				{{ object.transport_driver_name|upper}}<br/>
				{% trans "Date:" %} {{ object.receipt_signed_date|date|upper }}
			{% endif %}
			{% trans "Name, signature and stamp" %}
		</td>
	</tr>
</tbody>
</table>
    
