{% load extra_tags i18n %}
<tr>
  <td>
    <table border="0px" >
      <tr>
        <td width="20%">
            <span><img height="75pt" src="{{ STATIC_URL }}images/logo_small.gif"/></span>
        </td>
        <td valign="top" align="center" width="60%">
            <h1 >{% trans "Waybill" %}</h1>
            <span id="top_note" style="font-size:small;">{% trans "Conditions of carriage as indicated overleaf are applicable" %}</span>
            {% if print_original %}
              <span id='original_lable' class="shown">{% trans "ORIGINAL" %}</span>
            {% else %}
              <span id='copy_lable' class="shown">{% trans "COPY" %}</span>
            {% endif %}
        </td>
        <td width="20%" align="right">
            <span valign=top style="font-size:x-large;">{% trans "No:" %}{{ object.pk }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>