{%load extra_tags%}
{% load i18n %}
<tr>
    <td>
        <table cellpadding="0" cellspacing="0" border="1px" >
            <thead class="wb_head">
                <tr><th colspan="5" bgcolor='black' color='white'>{% trans "Transaction Details" %}</th></tr>
            </thead>
            <tr>
                <td><sup style="font-size:x-small;">{% trans "Origin(location)" %}:</sup><br>{{ object.order.warehouse.location }}</td>
                <td><sup style="font-size:x-small;" >{% trans "Origin(warehouse)" %}:</sup><br>{{ object.order.warehouse.name }}</td>
                <td><sup style="font-size:x-small;">{% trans "Destination(location)" %}</sup><br>{{ object.destination.location.name }}</td>
                <td  rowspan=5>
                {% include 'waybill/print/barcode.html'%}
                </td>
            
            </tr>
            <tr>
                <td><sup style="font-size:x-small;">{% trans "Project no." %}</sup> {{ object.project_number }}</td>
                <td><sup style="font-size:x-small;">{% trans "Date of Loading" %}:</sup> {{ object.loading_date }}</td>
                <td><sup style="font-size:x-small;">{% trans "Date of Dispatch" %}:</sup> {{ object.dispatch_date }}</td>
            </tr>
            <tr>
                <td><sup style="font-size:x-small;">{% trans "Destination(warehouse)" %}: </sup><br>{{ object.destination.name }}</td>
                <td><sup style="font-size:x-small;">{% trans "Allocation Destination" %}:</sup><br>{{ object.destination.location.name }}</td>
                <td><sup style="font-size:x-small;">{% trans "Consignee" %}</sup><br>{{ object.destination.organization }}</td>
                
            </tr>
            <tr>
                <td><sup style="font-size:x-small;">{% trans "Type of Transaction" %}</sup><br>{{ object.get_transaction_type_display }}</td>
                <td><sup style="font-size:x-small;">{% trans "Transport Type" %}: </sup><br>{{ object.get_transport_type_display }}</td>
                <td><sup style="font-size:x-small;">{% trans "LTI no" %}: </sup><br>{{ object.order_code }}</td>
            </tr>
            
            <tr ><td colspan=3 valign="top" style="font-size:small;"><sup style="font-size:x-small;">{% trans "Dispatch Remarks" %}:</sup>{{ object.dispatch_remarks }}
                {% if object.container_one_remarks_dispatch %}
                <br>{% trans "Container 1 Remarks" %}:{{ object.container_one_remarks_dispatch }}
                {% endif %}
                {% if object.container_two_remarks_dispatch %}
                <br>{% trans "Container 2 Remarks" %}:{{ object.container_two_remarks_dispatch }}
                {% endif %}
            </td></tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellpadding="0" cellspacing="0" border="1px" style='border-collapse: separate;'  >
            <thead class="wb_head">
                <tr><th colspan="8">{% trans "Loading Details" %}</th></tr>
            </thead>
            <tr   style="font-size:x-small;">
                <td rowspan="2"><sup>{% trans "SI No" %}</sup></td>
                <td rowspan="2"><sup>{% trans "Commodity" %}</sup></td>
                <td rowspan="2"><sup>{% trans "Packing" %}</sup></td>
                <td rowspan="2"><sup>{% trans "Number of Units" %}</sup></td>
                <td colspan="2"><sup>{% trans "Unit Weight (kg)" %}</sup></td>
                <td colspan="2"><sup>{% trans "Tonnage" %}</sup></td>
            </tr>
            <tr style="font-size:x-small;">
                <td><sup>{% trans "Net" %}</sup></td>
                <td><sup>{% trans "Gross" %}</sup></td>
                <td><sup>{% trans "Net" %}</sup></td>
                <td><sup>{% trans "Gross" %}</sup></td>
            </tr>
            {% for lineitem in items %}
            <tr style="font-size:small;">
                <td>{% trans "ID" %} {{ forloop.counter }}. {{ lineitem.get_coi_code }}</td>
                <td>{{ lineitem.commodity_name }}</td>
                <td>{{ lineitem.package }}</td>
                <td style="text-align:right;">{{ lineitem.number_of_units|floatformat:3 }}</td>
                <td style="text-align:right;">{{ lineitem.unit_weight_net|floatformat:3 }}</td>
                <td style="text-align:right;">{{ lineitem.unit_weight_gross|floatformat:3 }}</td>
                <td style="text-align:right;">{{ lineitem.calculate_total_net|floatformat:3 }}</td>
                <td style="text-align:right;">{{ lineitem.calculate_total_gross|floatformat:3 }}</td>
            </tr>
            {% endfor %}
            
            {% for lineitem in extra_lines %}

            <tr  style="font-size:small;border-collapse: separate;">
                <td>{% trans "ID" %} {{ forloop.counter|add:items_count }}.</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align:right;">&nbsp; </td>
                <td style="text-align:right;">&nbsp; </td>
                <td style="text-align:right;">&nbsp; </td>
                <td style="text-align:right;">&nbsp; </td>
                <td style="text-align:right;">&nbsp; </td>
            </tr>
            {%endfor%}
            <tr>
                <td colspan="8">
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="1px"  style="font-size:small;"  >
      <thead class="wb_head">
        <tr><th colspan="3">{% trans "Certification of Commodities Loaded" %}</th></tr>
      </thead>
      <tbody>
        <tr>
          <td><sup>{% trans "Warehouse or Dispatch Point" %}</sup></td>
          <td colspan="2">
            <sup style="font-size:x-small;">{% trans "Transport Contractor" %}:</sup>{{ object.transport_name }}
          </td>
        </tr>
        <tr>
          <td><small style="font-size:x-small;">{% trans "Name" %}:</small>{{ object.dispatcher_person }}</td>
          <td colspan="2">
            <small style="font-size:x-small;">{% trans "Transport Subcontractor" %}:</small>
            {{ object.transport_sub_contractor }}
          </td>
        </tr>
        <tr>
          <td><small style="font-size:x-small;">{% trans "Title" %}:</small>{{ object.dispatcher_person.title }}</td>
          <td colspan="2"><small style="font-size:x-small;">{% trans "Driver's Name" %}:</small> {{ object.transport_driver_name }}</td>
        </tr>
        <tr>
          <td valign=top rowspan="4">
            <p style="font-size: x-small; align:top;">
              {% trans "I hereby certify the loading of the commodities described above." %}<br><br>
              {% trans "Name, signature and stamp:" %}
            </p>
            {% if object.transport_dispach_signed_date %}
            <p style='font-size:14px'>
              {{ object.dispatcher_person }}<br>
              {% trans "Date:" %} {{ object.transport_dispach_signed_date }}
            </p>
            {% endif %}
          </td>
          <td colspan="2">
            <small style="font-size:x-small;">{% trans "Driver's Licence/ID:" %}</small>{{ object.transport_driver_licence }}
          </td>
        </tr>

        <tr>
          <td>
            <small style="font-size:x-small;">{% trans "Vehicle registration:" %}</small>{{ object.transport_vehicle_registration }}<br>
            <small>{% trans "Trailer No.:" %}</small>{{ object.transport_trailer_registration }}
          </td>
          <td>
            <small style="font-size:x-small;">{% trans "Container no 1:" %}</small>{{ object.container_one_number }} 
            <small>{% trans "Seal:" %}</small>{{ object.container_one_seal_number }}<br>
            <small style="font-size:x-small;">{% trans "Container no 2:" %}</small>{{ object.container_two_number }} 
            <small>{% trans "Seal:" %}</small>{{ object.container_two_seal_number }} 
          </td>
        </tr>
        <tr>
          <td  valign=top  rowspan="2" colspan="2">
            <p style="font-size: x-small">{% trans "On behalf of the Transporter I hereby certify the receipt of the commodities as described above in good condition, unless otherwise endorsed here above." %}<br>
              {% trans "Name, signature and stamp:" %}<br>
            </p>
            {% if object.transport_dispach_signed_date %}
            <p style='font-size:14px'>{{ object.transport_driver_name|upper }}<br>
              {% trans "Date:" %}{{object.transport_dispach_signed_date|date}}
            </p>
            {% endif %}&nbsp;
                
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
