{%load extra_tags%}
{% load i18n %}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="1px" >
                    <thead class="wb_head"><tr><th colspan="2">{% trans "Certification of Commodities Received" %}</th></tr></thead>
                    <tr>
                        <td><sup style="font-size:x-small;">{% trans "Location:" %}</sup>&nbsp;</td>
                        <td ><sup style="font-size:x-small;">{% trans "Arrival Date:" %}</sup>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><sup style="font-size:x-small;">{% trans "Consignee:" %}</sup>&nbsp;</td>
                        <td ><sup style="font-size:x-small;">{% trans "Start Discherge Date:" %}</sup>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><sup style="font-size:x-small;">{% trans "Name:" %}</sup>&nbsp;</td>
                        <td ><sup style="font-size:x-small;">{% trans "End Discharge Date:" %}</sup>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size:x-small;">{% trans "Title:&nbsp;" %}</td>
                        <td  style="font-size: x-small">{% trans "Distance in KM:&nbsp;" %}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                
                <table cellpadding="0" cellspacing="0" border="1px">
                    <thead class="wb_head">
                        <tr><th colspan="10">{% trans "Observations" %}</th></tr>
                    </thead>
                    <tr   style="font-size:x-small;">
                        <td><sup>{% trans "Receipt Condition" %}</sup></td>
                        <td colspan="2"><sup>{% trans "Good" %}</sup></td>
                        <td colspan="5"><sup>{% trans "Lost or Damaged cargo" %}</sup></td>
                        
                        <td colspan="2"><sup>{% trans "Total received" %}</sup></td>
                    </tr>
                    <tr  style="font-size:x-small;">
<td><sup>{% trans "SI No" %}</sup></td>    <td><sup>{% trans "Units" %}</sup></td>    <td><sup>{% "trans Net MT" %}</sup></td>    <td><sup>{% trans "Units" %}</sup></td>    <td><sup>{% trans "Net MT" %}</sup></td>    <td><sup >{% trans "(L)oss or (D)amage" %}</sup></td>    <td><sup>{% trans "Type (specify)" %}</sup></td><td>{% trans "Reason" %}</td>    <td><sup>{% trans "Units" %}</sup></td>    <td><sup>{% trans "Net MT" %}</sup></td>
                    </tr>
    
                    {%for lineitem in object.loadingdetail_set.select_related%}
                    <tr style="font-size:x-small;">
                        <td><span style="font-size:small;">{% trans "ID" %} {{forloop.counter}}. {{lineitem.order_item.coi_code}}</span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    {%endfor%}
                    {%for lineitem in extra_lines%}

                    <tr  style="font-size:small;">
                        <td>{% trans "ID" %}{{forloop.counter|add:object.loadingdetail_set.select_related.count}}.</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    {%endfor%}
                    
                    <tr>
                        <td  style="font-size: x-small" colspan="10"><sup>{% trans "Reciptient Remarks" %}</sup>{{object.recipientRemarks}}<br><br></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="font-size: x-small"><td><table cellpadding="0" cellspacing="0" border="1px" ><tr><td>
        <p style="font-size: x-small">{% trans "On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above." %}
        <br>{% "trans Name, signature and stamp" %}</p>
        <p style="font-size: x-small">{% trans "Endorse this section with an official stamp" %}</p></td><td>
        <p style="font-size: x-small">{% trans "On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above." %}<br>{% trans "Name, signature and stamp" %}</p>
        <p style="font-size: x-small">{% trans "Endorse this section with an official stamp" %}</p></td></tr></table></td></tr>