{% load extra_tags %}
{% load i18n %}
<tr>
  <td>
    <table class="border">
      <thead class="wb_head"><tr><th colspan="2">{% trans "Certification of Commodities Received" %}</th></tr></thead>
      <tbody>
        <tr>
          <td><small>{% trans "Location:" %}</small> {{ object.destination.location.name }}</td>
          <td><small>{% trans "Arrival Date:" %}</small> {{ object.arrival_date|date|upper }}</td>
        </tr>
        <tr>
          <td><small>{% trans "Consignee:" %}</small> {{ object.order.consignee }}</td>
          <td><small>{% trans "Start Discharge Date:" %}</small> {{ object.start_discharge_date|date|upper }}</td>
        </tr>
        <tr>
          <td><small>{% trans "Name:" %}</small> {{ object.receipt_person.get_full_name }}</td>
          <td><small>{% trans "End Discharge Date:" %}</small> {{ object.end_discharge_date|date|upper }}</td>
        </tr>
        <tr>
          <td><small>{% trans "Title:" %}</small> {{ object.receipt_person.title }}</td>
          <td><small>{% trans "Distance in KM:" %}</small> {{ object.distance|default:"" }}</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table class="border">
      <thead class="wb_head"><tr><th colspan="11">{% trans "Observations" %}</th></tr></thead>
      <tbody>
        <tr>
          <td><sup>{% trans "Condition" %}</sup></td>
          <td colspan="2"><sup>{% trans "Good" %}</sup></td>
          <td colspan="3"><sup>{% trans "Lost or Damaged cargo" %}</sup></td>
          <td colspan="2"><sup>{% trans "Total received" %}</sup></td>
        </tr>
        <tr>
          <td><sup>{% trans "SI No" %}</sup></td>    
          <td><sup>{% trans "Units" %}</sup></td>    
          <td><sup>{% trans "Net MT" %}</sup></td>    
          <td><sup>{% trans "Units" %}</sup></td>    
          <td><sup>{% trans "Net MT" %}</sup></td>    
          <td><sup>{% trans "Reason" %}</sup></td>    
          <td><sup>{% trans "Units" %}</sup></td>    
          <td><sup>{% trans "Net MT" %}</sup></td>
        </tr>
        
        {% for lineitem in items %}
          <tr style="font-size:x-small; text-align:right;">
            <td style="text-align:left;"><span>{% trans "ID" %} {{ forloop.counter }}. {{ lineitem.stock_item.coi_code }}</span></td>
            <td>&nbsp;
              {% if lineitem.number_units_good %}
                {{ lineitem.number_units_good|floatformat:3 }}
              {% endif %}
            </td>
            <td>&nbsp;
              {% if lineitem.number_units_good %}
                {{ lineitem.calculate_net_received_good|floatformat:3}}
              {% endif %}
            </td>
            <td style="text-align:center;">
              {% if lineitem.number_units_lost %}
                L:{{ lineitem.number_units_lost|floatformat:3 }}
              {% endif %}
              {% if lineitem.number_units_damaged %}
                {% if lineitem.number_units_lost %}/{% endif %}
                D:{{ lineitem.number_units_damaged|floatformat:3 }}
              {% endif %}
              &nbsp;
            </td>

            <td style="text-align:center;">&nbsp;
              {% if lineitem.number_units_lost %}
                L:{{ lineitem.calculate_net_received_lost|floatformat:3 }}
              {% endif %}
              {% if lineitem.number_units_damaged %}
                {% if lineitem.number_units_lost %}/{% endif %}
                D:{{ lineitem.calculate_net_received_damaged|floatformat:3 }}
              {% endif %}
            </td>
    
            <td style="text-align:left;">&nbsp;<!--reason-->
              {% if lineitem.number_units_lost %}
                L:{{ lineitem.units_lost_reason.cause }} 
              {% endif %} 
              {% if lineitem.number_units_damaged %}
                {% if lineitem.number_units_lost %}/{% endif %}
                D:{{ lineitem.units_damaged_reason.cause }} 
              {% endif %}
            </td>
            <td>&nbsp;
              {% if lineitem.calculate_total_received_units %}
                {{ lineitem.calculate_total_received_units|floatformat:3 }}
              {% endif %}
            </td>
            <td>&nbsp;
              {% if lineitem.calculate_total_received_net %}
                {{ lineitem.calculate_total_received_net|floatformat:3 }}
              {% endif %}
            </td>    
          </tr>
        {% endfor %}
                                        
        <tr>
          <td colspan="10">
            <sup>{% trans "Reciptient Remarks" %}:</sup> {{ object.receipt_remarks }}
            {% if object.container_one_remarks_reciept%}
              <p>{% trans "Container 1 Remarks:" %}{{ object.container_one_remarks_reciept }}</p>
            {%endif%}
            {% if object.container_two_remarks_reciept %}
              <p>{% trans "Container 2 Remarks:" %}{{ object.container_two_remarks_reciept }}</p>
            {%endif%}
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
  	<table class="border">
      <tr>
    	<td class="signature" valign="top">
    	  <p class="x-small">{% trans "On behalf of the Consignee I hereby certify receipt of the commodities loaded, unless endorsed as above." %}</p>
    	  <p class="x-small">{% trans "Name, signature and stamp:" %}</p>
    	  {% if object.receipt_signed_date %}
          <p class="small">{{ object.receipt_person.get_full_name }}</p>
          <p>{% trans "Date:" %}{{ object.receipt_signed_date|date|upper }}</p>
        {% endif %}
        <p class="x-small">{% trans "Endorse this section with an official stamp" %}</p>
    	</td>
        <td class="signature" valign="top">
          <p class="x-small">{% trans "On behalf of the Transport Contractor I hereby certify delivery of the commodities loaded, unless endorsed as above." %}</p>
          <p class="x-small">{% trans "Name, signature and stamp" %}</p>
          {% if object.receipt_signed_date %}
            <p class="small">{{ object.transport_driver_name|upper}}</p>
            <p>{% trans "Date:" %} {{ object.receipt_signed_date|date|upper }}</p>
          {% endif %}
    	  <p class="x-small">{% trans "Endorse this section with an official stamp" %}</p>
    	</td>
      </tr>
  	</table>
  </td>
</tr>
