{% extends "base_template.html"%}
{%load extra_tags%}
{%block title %}{% trans Select Action %}{%endblock%}
{%block content %}
 {% if user.is_authenticated %} 
{% trans Select an action: %}
<ul>
{%if myprofile.isDispatcher%}<li><a href='{%url ets.waybill.views.listOfLtis myprofile.warehouses.origin_wh_code%}'>{% trans Create & Dispatch Waybill %}</a></li>{%endif%}
{%if myprofile.isReciever%}<li><a href='{%url ets.waybill.views.waybill_reception_list %}'>{% trans Receive Waybill %}</a></li>{%endif%}
{%if myprofile.isCompasUser%}<li><a href='waybill/validate'>{% trans Validate Waybill %}</a></li>
    <li><a href='{%url ets.waybill.views.import_ltis%}'>{% trans Update DB %}</a>{%endif%}
{%if myprofile.superUser%}<li><a href='{%url ets.waybill.views.waybill_search%}'>{% trans Reset waybills %}</a>{%endif%}
{%if myprofile.readerUser or myprofile.superUser%}<li><a href='{%url ets.waybill.views.ltis%}'>{% trans View LTIs %}</a>{%endif%}
{%if myprofile.superUser%}<li><a href="{%url  ets.waybill.views.select_report%}">{% trans Reports %}</a>{%endif%}
<li><a href="{%url  ets.waybill.views.select_data%}">{% trans Download Data %}</a>
<li><form action='{%url ets.waybill.views.waybill_search%}'><input type="text" name="wbnumber"/><input type="submit" value="{% trans 'Search Waybill' %}"></form>
<li>&nbsp;{%if myprofile.isReciever%}<li>{% trans Scan Waybill --> %}<form method='POST' action='waybill/deserialize/'><input type="text" name="wbdata"/>{% csrf_token %}<input type="submit" value="{% trans 'Receive Scanned Waybill' %}" /></form></li>{%endif%}
</ul>
{%else%}
{% trans Please log in %} <a href='{%url django.contrib.auth.views.login%}?next={%url ets.waybill.views.select_action%}'>{% trans login %}</a>
{%endif%}
{%print_tag%}
{%endblock%}