{% extends "base_template.html"%}
{% load i18n uni_form_tags %}

{% load url from future %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form id="password-change-form" class="uniForm" action="" method="post">{% csrf_token %}
{% include "uni_form/errors_formset.html" %}
{{ form|as_uni_form }}
<div class="buttonHolder">
  <input type="submit" name="add" value="{% trans 'Change my password' %}"/>
</div>
</form>

</div>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

{% endblock %}
