{% extends "base_template.html"%}
{% load i18n extra_tags %}
{% block content %}
<h3>{% block page_title %}{% trans "Validate Dispatch" %}{% endblock %}</h3>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="toplist">
    <thead>
        <tr>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Waybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Delivery Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
        <th>{% trans "Validate" %}</th>
        </tr>
    </thead>
    {% for waybill in object_list %}
    {% with waybill.get_shortage_loading_details as shortage %}
    {% if shortage %}
    <tr class="error"><td colspan="8">
      {% for item in shortage %}
        <p>{{ waybill.order.warehouse }} --> {{ item.stock_item.pk }} ({{ item.stock_item.commodity }}). Shortage: {{ item.get_shortage }}</p>
      {% endfor %}
    </td></tr>
    {% endif %}
    {% endwith %}
    <tr>
       <td><a href="{{ waybill.order.get_absolute_url }}" title="View details">{{ waybill.order.pk }}</a></td>
       <td><a href="{{ waybill.get_absolute_url }}" title="View details">{{ waybill.pk }}</a></td>
       <td>{{ waybill.order.warehouse }}</td>
       <td>{{ waybill.order.consignee.name }}</td>
       <td>{{ waybill.order.location.name }}</td>
       <td>
        {% if waybill.transport_dispach_signed_date %}
          {{ waybill.transport_dispach_signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
       </td>
       <td>
        {% if waybill.receipt.signed_date %}
          {{ waybill.receipt.signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
       </td>
       <td>{% block validate_link %}{% validate_dispatch waybill user %}{% endblock %}</td>
    </tr>
    {% endfor %}
</table>

<br>
<h3>{% trans "Validated, but isn't sent to COMPAS" %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="validated_waybills">
    <thead>
      <tr>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Waybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Delivery Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
      </tr>
    </thead>
    {% for waybill in validated_waybills %}
    <tr>
      <td><a href="{{ waybill.order.get_absolute_url }}" title="View details">{{ waybill.order.pk }}</a></td>
      <td><a href="{{ waybill.get_absolute_url }}" title="View details">{{ waybill.pk }}</a></td>
      <td>{{ waybill.order.warehouse }}</td>
      <td>{{ waybill.order.consignee.name }}</td>
      <td>{{ waybill.order.location.name }}</td>
      <td>
        {% if waybill.transport_dispach_signed_date %}
          {{ waybill.transport_dispach_signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
      </td>
      <td>
        {% if waybill.receipt.signed_date %}
          {{ waybill.receipt.signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8">
$(document).ready(function() {
	/*
  $('#toplist').dataTable( {
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false,
      "bAutoWidth": false
  });*/
  $('#validated_waybills').dataTable( {
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false,
      "bAutoWidth": false 
  });
});
</script>
{% endblock %}
