{% extends "base_template.html"%}
{% load i18n extra_tags %}

{% block title %}{% trans "Submit Dispatch to COMPAS" %}{% endblock %}

{% block content %}
<h3>{% block page_title %}{% trans "eWaybills Waiting For Dispatch Validation" %}{% endblock %}</h3>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="toplist">
    <thead>
        <tr>
        <th>{% trans "LTI Number" %}</th>
        <th>{% trans "eWaybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Destination Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
        <th>{% trans "Validate" %}</th>
        <th>{% trans "Errors" %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="export_links">
  <span>{% trans "Export as" %}</span>
  <a class="excel" href="#">{% trans "XLS" %}</a>
</div>

<br/>
<h3>{% trans "Validated, but not yet sent to COMPAS" %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="validated_waybills">
    <thead>
      <tr>
        <th>{% trans "LTI Number" %}</th>
        <th>{% trans "eWaybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Destination Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="export_links">
  <span>{% trans "Export as" %}</span>
  <a class="excel" href="#">{% trans "XLS" %}</a>
</div>

{% block submit_form %}
<form method="POST" action="{% url send_dispatched %}" class="submit-form">{% csrf_token %}
	<input name="submit" value="{% trans 'Submit to COMPAS' %}" type="submit" />
</form>
{% endblock %}

<div id="error_list">
  <a class="close" href="#"></a>
  <div id="overlay_wrap"></div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
  var oTableBottom = $("#validated_waybills").dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "sAjaxSource": "{% url table_validate_waybill filtering=bottom_table_url %}",
      "aoColumnDefs": [
          { "bSearchable": false, "bSortable": false, "bVisible": false, "aTargets": [ 7, 8 ] }
      ],
      "fnDrawCallback": function( oSettings ) {
          if (oSettings.aoData.length > 0) {
              $(".submit-form").show();
          } else {
              $(".submit-form").hide();
          };
      }
  });
  var oTableTop = $("#toplist").dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "sAjaxSource": "{% url table_validate_waybill filtering=top_table_url %}",
      "aoColumnDefs": [
          { "bSearchable": false, "bSortable": false, "aTargets": [ 7, 8 ] }
      ],
      "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
          if ( aData[8] != "" ) {
              nRow.className +=' red';
          };
          return nRow;
      },
      "fnPreDrawCallback": function( oSettings ) {
          if (window.validated_tr) {
              validated_tr.deleteIndicator();
              delete (validated_tr);
          }
      },
      "fnDrawCallback": function( oSettings ) {
          $(".error-link").click(function(){
              var overlay = $("#error_list");
              var wrap = overlay.find("#overlay_wrap");
              wrap.empty();
              overlay.data("overlay").load();
              wrap.load($(this).attr("href"));
              overlay.find(".close").click(function() {
                  overlay.data("overlay").close();
                  return false;
              });
              return false;
          });
          $('.validate-link').click(function(){
              if (confirm('{% trans "Confirm validation?" %}')) {
                  data = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
                  $.post($(this).attr("href"), data, function(message){
                      alert(message, "success");
                  });
                  oTableTop.fnDraw();
                  oTableBottom.fnDraw();
              };
              validated_tr = $(this).closest('tr');
              console.log(validated_tr);
              validated_tr.loadIndicator();
              return false;
          }); 
      }
  });
  $("#error_list").overlay({
      mask: {
          color: '#e2e3ee',
          loadSpeed: 200,
          opacity: 0.9
      },
  });
  oTableBottom.parent().next(".export_links").find("a").click( function(){
      getDataFromTable(oTableBottom, $(this).attr("class"));
      return false;
  });
  oTableTop.parent().next(".export_links").find("a").click( function(){
      getDataFromTable(oTableTop, $(this).attr("class"));
      return false;
  });

});
</script>
{% endblock %}
