{% extends "validate/dispatch.html" %}
{% load i18n extra_tags %}

{% block title %}{% trans "Submit Receipt to COMPASS" %}{% endblock %}

{% block page_title %}{% trans "eWaybills Waiting For Receipt Validation" %}{% endblock %}

{% block validate_link %}{% validate_receipt waybill user %}{% endblock %}

{% block submit_form %}
<form method="post" action="{% url send_received %}" class="submit-form">{% csrf_token %}
	<input name="submit" value="{% trans 'Submit to COMPAS' %}" type="submit" />
</form>
{% endblock %}
