{% extends "base_template.html"%}
{% load i18n %}
{%block content %}
<h3>{% trans "Validate Dispatch" %}</h3>
<form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}

<table cellpadding="0" cellspacing="0" border="0" class="display" id="toplist">
    <thead>
        <tr>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Waybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Delivery Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
        <th>{% trans "Validated" %}</th>
        <th></th>
        </tr>
        </thead>
    {% for form in formset.forms %}
    <tr>
             <td>{{ form.instance.order_code }}</td>
             <td>{{ form.slug }}{{ form.instance.pk }}</td>
             <td>{{ form.instance.warehouse }}</td>
             <td>{{ form.instance.destination.organization }}</td>
             <td>{{ form.instance.destination.location }}</td>
             <td>
              {% if form.instance.transport_dispach_signed_date %}
                {{ form.instance.transport_dispach_signed_date }}
              {% else %}
                {% trans "Pending" %}
              {% endif %}
             </td>
             <td>
              {% if form.instance.receipt.signed_date %}
                {{ form.instance.receipt.signed_date }}
              {% else %}
                {% trans "Pending" %}
              {% endif %}
             </td>
             <td>{{ form.validated }}
              {% if form.instance.hasError %}
                <span onMouseUp="alert('{{ form.instance.errors.errorDisp|escapejs }}')">
                  <span style='color:red;'>{% trans "Error!" %}</span>
                </span>
              {% endif %}
             </td>
             <td>
              <a href="{{ form.intance.get_absolute_url }}">{% trans "View" %}</a> 
              {% if user.is_superuser %}
                <a href='{% url waybill_validate_form_update waybill_pk=form.instance.pk %}'>{% trans "Edit" %}</a>
              {% endif %}
             </td>
    </tr>
    {% endfor %}
</table>

<input type="submit" value="{% trans 'Validate Waybills' %}" />
</form>

<br>
<h3>{% trans "Update To Compas" %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example2">
    <thead>
        <tr>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Waybill Number" %}</th>
        <th>{% trans "Origin Warehouse" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Delivery Location" %}</th>
        <th>{% trans "Dispatched" %}</th>
        <th>{% trans "Received" %}</th>
        </tr>
        </thead>
    {% for waybill in validated_waybills %}
    <tr>
      <td>{{ waybill.order_code }}</td>
      <td>{{ waybill.pk }}</td>
      <td>{{ waybill.warehouse }}</td>
      <td>{{ waybill.destination.organization.name }}</td>
      <td>{{ waybill.destination.location.name }}</td>
      <td>
        {% if waybill.transport_dispach_signed_date %}
          {{ waybill.transport_dispach_signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
      </td>
      <td>
        {% if waybill.receipt.signed_date %}
          {{ waybill.receipt.signed_date }}
        {% else %}
          {% trans "Pending" %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
{%endblock%}

{% block script %}
{{ block.super }}
<script charset="utf-8">
$(document).ready(function() {
  $('#toplist').dataTable( {
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false,
      "bAutoWidth": false 
  });
  $('#example2').dataTable( {
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false,
      "bAutoWidth": false 
  });
});
</script>
{% endblock %}
