{% extends "base_template.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Stock List" %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id='stocklist'>
  <thead>
    <tr>
      <th>{% trans "Warehouse" %}</th>
      <th>{% trans "Commodity" %}</th>
      <th>{% trans "SI" %}</th>
      <th>{% trans "Items" %}</th>
      <th>{% trans "MT Net" %}</th>
      <th>{% trans "Quality" %}</th>
    </tr>
  </thead>
  {% for item in object_list %}
  <tr style="{%if item.quality_code != 'G'%}color:red;{%endif%}{%if item.number_of_units == 0%}background-color:red;{%endif%}" >
    <td>{% ifchanged %}{{ item.warehouse }}{% endifchanged %}</td>
    <td>{% ifchanged %}{{ item.commodity }}{% endifchanged %}</td>
    <td>{% ifchanged %}{{ item.si_code }}{% endifchanged %}</td>
    <td>{{ item.number_of_units }}</td>
    <td>{% if item.number_of_units %}{{ item.unit_weight_net }}{% endif %}</td>
    <td>{% if item.quality_code != 'G' %}{{ item.quality_description }}{% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8">
  $(document).ready(function() {
    $('#stocklist').dataTable();
  } );
</script>
{% endblock script %}