{% extends "base_template.html" %}
{% load i18n pagination_tags %}

{% block title %}{% trans "Dispatched Commodity" %}{% endblock %}

{% block content %}
<h3>{% trans "Stock List" %}</h3>
{% for wh in object_list %}
<p>{% trans "Location" %}: <strong>{{ wh.location.name }}</strong>, {% trans "Warehouse" %}: <strong>{{ wh.name }} ({{ wh.pk }})</strong></p>
<table cellpadding="0" cellspacing="0" border="0" class="stocklist display" id='{{ wh.pk }}'>
  <thead>
    <tr>
      <th>{% trans "Commodity" %}</th>
      <th>{% trans "Project Number" %}</th>
      <th>{% trans "SI" %}</th>
      <th>{% trans "State" %}</th>
      <th>{% trans "Units" %}</th>
      <th>{% trans "Unit Net Weight (kg)" %}</th>
      <th>{% trans "Unit Gross Weight (kg)"%}</th>
      <th>{% trans "Net Tonnage"%}</th>
      <th>{% trans "Gross Tonnage"%}</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<a class="csv_export" href='{% url table_stock_items param_name=wh.pk %}'>{% trans "Export as CSV" %}</a>
{% if not forloop.last %}<div class="sep"></div>{% endif %}
{% endfor %}

{% paginate %}
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    $('.stocklist').each(function() { 
      var oTable = $(this).dataTable({
        "aaSorting": [[ 4, "desc" ]],
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url table_stock_items param_name='wh_id' %}?wh_id="+$(this).attr("id"),
        "aoColumnDefs": [
          { "bSearchable": false, "aTargets": [ 1, 2, 3, 4, 5, 6, 7, 8 ] },
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
          if ( aData[3] != "{{ good_quality }}" ) {
            nRow.className +=' red';
          };
          if ( aData[4] <= 0 ) {
            nRow.className +=' row-negative-units';
          }
          return nRow;
        },
      });
      $(this).parent().next(".csv_export").click( function(){
         getDataFromTable(oTable, "csv");
         return false;
      });
    });
  });
</script>
{% endblock script %}
