{% extends "base_template.html"%}
{% load i18n %}
{%block title %}{{detailed.0.code}}{%endblock%}
{%block content %}
<style type="text/css">
.itemhead{
    background-color: #0ee6ff;
}
.bordered{
border-collapse: collapse;
border-color: black;
    border-width: 1px;
    border-style: solid;
}
</style>
<table  width="800px" >
	<tr><td>{% trans "LTI Number:" %} {{detailed.0.code}}</td>
	<td>{% trans "Date:" %} {{detailed.0.lti_date}}</td></tr>
	
	<tr><td>{% trans "Requested Dispatch Date:" %} {{detailed.0.requested_dispatch_date}}</td>
	<td>{% trans "Expiry Date:" %} {{detailed.0.expiry_date}}</td></tr>
	
	<tr><td>{% trans "Origin:" %} {{detailed.0.origin_loc_name}}</td>
	<td>{% trans "Allocation Destination:" %} {{detailed.0.destination_loc_name}}</td></tr>
	
	<tr><td>{% trans "Project Number:" %} {{detailed.0.project_wbs_element}}</td>
	<td>{% trans "Consignee:" %} {{detailed.0.consegnee_name}}</td></tr>
	
	<tr><td>{% trans "Contractor:" %} {{detailed.0.transport_name}}</td></tr>
	
</table>
<br>{%if user.profile.isDispatcher%}{%if detailed.0.origin_location_code == user.profile.warehouses.origin_location_code%}
    {%if moreWBs%}
<a href='{% url waybillCreate detailed.0.code %}'>{% trans "Create New Waybill" %}</a><br>
{%endif%}{%endif%}{%endif%}
<br>
{% trans "Items in LTI:" %}
<table class='bordered' >
    <tr class='itemhead'>
    <th class='bordered'>{% trans "Commodity" %}</th>
    <th>{% trans "SI" %}</th>
    <th class='bordered'>{%if detailed.0.is_bulk%}{% trans "MT" %}{%else%}{% trans "Units" %} {%endif%}</th>
    <th class='bordered'>{% trans "To Be Dispatched" %}</th>
    <th  class='bordered'>{% trans "Stock In Warehouse" %}</th>
    </tr>
    {%for si in detailed%}
         <tr class='bordered'><td  class='bordered'>{{si.cmmname}}&nbsp;</td>
         <td class='bordered'>&nbsp;{{si.si_code}}&nbsp;</td>
         <td class='bordered' align="right">{{si.number_of_units}}</td>
         <td class='bordered' align="right">{{si.items_left}}</td>
         <td class='bordered' align="right"> {{si.total_stock}}</td>
         </tr>
    {%endfor%}
</table>



<br>
{%if listOfWaybills.count > 0%}
{% trans "Current Waybills:" %}<br>
<table class='bordered' >
{%for wb in listOfWaybills%}
    <tr><td colspan="3"  class='itemhead bordered'>{% trans "WB:" %}{{wb}} </td>
    <td class='bordered'><a href='{% url waybill_view wb.id %}?viewonly=true'> {% trans "View Waybill" %}</a></td></tr>
    <tr class='itemhead'><td></td>
    <td class='bordered'>{% trans "Commodity" %}</td>
    <td class='bordered'>{% trans "SI" %}</td>
    <td class='bordered'>{%if detailed.0.is_bulk%}{% trans "MT" %}{%else%}{% trans "Units" %}{%endif%}{% trans "dispatched" %}</td></tr>
    {%for loading in wb.loadingdetail_set.select_related %}
        <tr class='bordered'>
        <td class='bordered'>&nbsp;</td>
        <td class='bordered'>&nbsp;{{loading.order_item.stock_item.cmmname}}&nbsp; </td>
        <td class='bordered' >&nbsp;{{loading.order_item.stock_item.coi_code}}&nbsp;</td>

        <td class='bordered' align="right">{{loading.numberUnitsLoaded}} </td>

        </tr>
    {%endfor%}
{%endfor%}
</table>
{%endif%}




{%endblock%}