{% extends "base_template.html"%}
{% load i18n %}
{%block content %}
<h3>{% trans "Warehouse:" %}{{user.get_profile.warehouses.origin_wh_name}}</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" summary="LTIs">
    <thead><tr>
    <th>{% trans "LTI" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Destination" %}</th>
    <th>{% trans "Dest Location" %}</th>
    <th>{% trans "Action " %}</th>
    </tr></thead>
	{% for lti in ltis%}
		<tr>
		    <td>
		        {{lti.code}} 
		    </td>
		    <td>{{lti.lti_date}}</td>
		    
		    <td>{{lti.destination_loc_name}}
		    </td>
		    <td>{{lti.consegnee_name}}
		    </td>
		    <td><a href='{% url lti_detail_url lti.code %}'>{% trans "select" %}</a>
		    </td>
		</tr>
	{% endfor%}
</table>
{%endblock%}
{%block extra-header%}
<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
                $('#example').dataTable({
		"aaSorting": [[ 0, "asc" ]],
		"aoColumns": [
			null,
			null,
			null,
			null,
			null
		]
	} );
} );
</script>
{%endblock extra-header%}
