{% extends "base_template.html"%}
{% load i18n %}

{%block title %}{% trans "Select report type" %}{%endblock%}

{%block content %}
<table>
  <tr class='reports-title'>
    <td>{% trans "Orders reports" %}</td>
  </tr>
  <tr>
    <td>{% trans "Orders Report" %} </td>
    <td><a href='{% url api_orders %}'>{% trans "download" %}</a></td>
  </tr>
  <tr>
    <td>{% trans "Recipient Report: All items for warehouses" %}</td>
    <td><a href='{% url api_order_items %}'>
      {% trans "download" %}</a>
    </td>
  </tr>
  <tr class='reports-title'>
    <td>{% trans "Warehouse" %}</td>
  </tr>
  <tr>
    <td>{% trans "All warehouses" %}</td>
    <td><a href='{% url api_warehouses %}'>{% trans "download" %}</a></td>
  </tr>
  <tr>
    <td>{% trans "Stock Report: All items for warehouses" %} </td>
    <td><a href='{% url api_stock_items %}'>{% trans "download" %}</a></td>
  </tr>
  <tr class='reports-title'>
    <td>{% trans "Waybill Reports" %}</td>
  </tr>
  <tr>
    <td>{% trans "Waybill Report: All items for warehouses" %} </td>
    <td><a href='{% url api_waybills %}'>{% trans "download" %}</a></td>
  </tr>
  <tr class='reports-title'>
    <td>{% trans "Detailed Waybill Reports" %}</td>
  </tr>
  <tr>
    <td>{% trans "Detailed Waybill Report: All items for warehouses" %} </td>
    <td><a href='{% url api_loading_details %}'>{% trans "download" %}</a></td>
  </tr>
</table>
{% endblock %}