{% extends "base_template.html"%}
{% load i18n %}
{%block title %}{% trans "Waybill Creation" %} {%endblock%}
{%block content %}
<style type="text/css">
.ul-inline ul, .ul-inline ul li{border-width: 1px; display: inline; padding: 0px;}
.ul-inline{margin: 2px; border-color: black; border-style: none; border-width: 1px;}
</style>
<form action="" method=POST id="delform">
{{form.invalidated}}
{% if item.errors %}
   <span class='error'>{% trans "Review Form, as there is information missing" %}</span>
{% endif %}
<div class="form">
    <div>
        <span><strong>{% trans "LTI:" %}</strong> {{lti_list.0.code}}{{form.ltiNumber}}</span>
    </div>{%if form.instance.waybillNumber%}
    <div>
        <span><strong>{% trans "Waybill Nr:" %}</strong> {{form.instance.waybillNumber}}</span>
    </div>{%endif%} {{form.waybillNumber}}
    <div>
        <span><strong>{% trans "Date of Loading:" %}</strong> {{form.dateOfLoading}} <span class='error'>{%for error in form.dateOfLoading.errors%} {{error|escape}}{%endfor%}</span></span>
        <span><strong>{% trans "Date of Dispatch:" %} </strong>{{form.dateOfDispatch}}<span class='error'>{%for error in form.dateOfDispatch.errors%} {{error|escape}}{%endfor%}</span></span>
    </div>
    <table>
        <tr>
            <th>{% trans "Transaction Type:" %}</th>
            <td> {{form.transactionType}} {%for error in form.transactionType.errors%}<span class='error'>{{error|escape}}</span>{%endfor%} </td>
            <td>&nbsp;</td>
            <th>{% trans "Transport Type:" %}</th>
            <td> {{form.transportType}}<span class='error'>{%for error in form.transportType.errors%} {{error|escape}}{%endfor%}</span></td>
        </tr>
        
    </table>
    <strong>{% trans "Recipient Location:" %}</strong>    {{form.recipientLocation}} {{form.recipientConsingee}}        {{lti_list.0.destination_loc_name}}
    <br><strong>{% trans "Consignee :" %}</strong> {{lti_list.0.consegnee_name}}
    <br>
    <strong>{% trans "Destination Warehouse:" %}</strong> {{form.destinationWarehouse}}{%for error in form.destinationWarehouse.errors%}<span class='error'> {{error|escape}}</span>{%endfor%}
    {{ formset.management_form }}
    <br><br>
    {%if formset.non_form_errors%} <span class='error'>{{formset.non_form_errors}}</span>{%endif%}
    <table cellpadding="1px" cellspacing="1px" id="example" style="border:1px;">
        <thead>
            <tr><th></th><th>{% trans "Commodity" %}</th><th>{%if lti_list.0.is_bulk%}{% trans "Metric Tons" %}{%else%}{% trans "Number of Units" %}{%endif%}</th><th>{% trans "Overload" %}</th></tr>
        </thead>
    	{% for sform in formset.forms %}
    	<tr>
    	  	<td>{{ sform.id }}{{forloop.counter}}</td>
    	  	<td>{{ sform.order_item }}</td>
    	  	<td>{{ sform.numberUnitsLoaded }} {%for error in sform.numberUnitsLoaded.errors%}<span class='error'> {{error|escape}}</span>{%endfor%}</td>
    	  	<td>{{ sform.overloadedUnits}}</td>
    	</tr>
{{sform.numberUnitsLoaded.errors}}
    	{% endfor %}
 	</table>
 	<br>
 	<div><strong>{% trans "Dispatch Remarks:" %}</strong> {{form.dispatchRemarks}}</div>
 	<div><strong>{% trans "Dispatcher Name:" %}</strong>{{form.dispatcherName}}{{form.dispatcherTitle}}{{user.get_profile.compasUser.last_name}}</div>
 	<br>
 	<div>
 		<table>
 			<tr><td><strong>{% trans "Transport Contractor:" %}</strong></td><td>{{lti_list.0.transport_name}}{{form.transportContractor}}</td></tr>
 			<tr><td><strong>{% trans "Transport Subcontractor:" %}</strong></td><td>{{form.transportSubContractor}}</td></tr>
 			<tr><td><strong>{% trans "Driver's Name:" %}</strong></td><td>{{form.transportDriverName}}</td></tr>
 			<tr><td><strong>{% trans "Driver's Licens No:" %}</strong></td><td>{{form.transportDriverLicenceID}}</td></tr>
 			<tr><td><strong>{% trans "Vehicle Registration No:" %}</strong></td><td>{{form.transportVehicleRegistration}}</td></tr>
 			<tr><td><strong>{% trans "Trailer Registration No:" %}</strong></td><td>{{form.transportTrailerRegistration}}</td></tr>
 		</table>
 	</div>
 	<br>
 	<strong>{% trans "Container 1: Number:" %}</strong>{{form.containerOneNumber}}<strong>{% trans "Seal:" %}</strong>{{form.containerOneSealNumber}}<strong> {% trans "Remarks:" %}</strong>{{form.containerOneRemarksDispatch}}<br>
 	<strong>{% trans "Container 2: Number:" %}</strong>{{form.containerTwoNumber}}<strong>{% trans "Seal:" %}</strong>{{form.containerTwoSealNumber}}<strong> {% trans "Remarks:" %}</strong>{{form.containerTwoRemarksDispatch}}


<input type="submit" value="{% trans 'Save & Print' %}"> {% csrf_token %}
</form>
</div>
{%endblock%}
{%block extra-header%}
<script charset="utf-8" type="text/javascript">


$(document).ready(function() {
                $('#id_dateOfDispatch').datepicker({ dateFormat: 'yy-mm-dd' });
                $('#id_dateOfLoading').datepicker({ dateFormat: 'yy-mm-dd' });                
                $('#example').dataTable( {
                "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false 
                });
} );

</script>
{%endblock extra-header%}
