{% extends "order/detail.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans "Waybill Creation" %}{% endblock %}

{% block extra_content %}
<div class="form">

{% if form.errors or formset.errors %}<span style="color:red;">{% trans "You have some errors. Correct them" %}</span>{% endif %}

<form method="POST" action="" class="uniForm">{% csrf_token %}
    {% include "uni_form/errors_formset.html" %}
    <fieldset>
    <legend>{% trans "Loading Details" %}</legend>    
    <table id="loadingdetails">
      {{ formset.management_form }}
      <thead class="bordered">
        <tr>
          <th>{% trans "COI" %}</th>
          <th>{% trans "Units" %}</th>
          <th>{% trans "Unit Weight Net (kg)" %}</th>
          <th>{% trans "Unit Weight Gross (kg)" %}</th>
          <th>{% trans "Net Qty (MT)" %}</th>
          <th>{% trans "Gross Qty (MT)" %}</th>
          <th>{% trans "Overloaded Dispatch" %}</th>
          {% if formset.can_delete %}<th style="background-color: red;">{% trans "Delete" %}</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr colspan="{% if formset.can_delete %}7{% else %}6{% endif %}">{% include "uni_form/errors.html" %}</tr>
          <tr class="row">
            <td>{% include "uni_form/uni_field.html" with field=form.stock_item %} {{ form.slug }}</td>
            <td>{% include "uni_form/uni_field.html" with field=form.number_of_units %}</td>
            
            <td class="weight">{% include "uni_form/uni_field.html" with field=form.unit_weight_net %}</td>
            <td class="weight">{% include "uni_form/uni_field.html" with field=form.unit_weight_gross %}</td>
            <td class="weight">{% include "uni_form/uni_field.html" with field=form.total_weight_net %}</td>
            <td class="weight">{% include "uni_form/uni_field.html" with field=form.total_weight_gross %}</td>
            
            <td class="overloaded_units">{% include "uni_form/uni_field.html" with field=form.overloaded_units %}</td>
            {% if formset.can_delete %}<th>{{ form.DELETE }}</th>{% endif %}
          </tr>
        {% endfor %}
        
        {# empty image formset form #}
        <tr class="etalon">
          <td>{% include "uni_form/uni_field.html" with field=formset.empty_form.stock_item %}</td>
          <td>{% include "uni_form/uni_field.html" with field=formset.empty_form.number_of_units %}</td>
          <td class="weight">{% include "uni_form/uni_field.html" with field=formset.empty_form.unit_weight_net %}</td>
          <td class="weight">{% include "uni_form/uni_field.html" with field=formset.empty_form.unit_weight_gross %}</td>
          <td class="weight">{% include "uni_form/uni_field.html" with field=formset.empty_form.total_weight_net %}</td>
          <td class="weight">{% include "uni_form/uni_field.html" with field=formset.empty_form.total_weight_gross %}</td>
          <td class="overloaded_units">{% include "uni_form/uni_field.html" with field=formset.empty_form.overloaded_units %}</td>
          {% if formset.can_delete %}<th>{{ formset.empty_form.DELETE }}</th>{% endif %}
        </tr>
      
      </tbody>
    </table>
    <a href="#" class="items-add-more" id="add-item-link">{% trans "Append More COI" %}</a>
    </fieldset>
    {% uni_form form form.helper %}
    <div class="buttonHolder">
      <input type="submit" name="add" value="{% trans 'Save' %}"/>
    </div>
</form>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8" type="text/javascript">

(function($) {
  $.fn.formset = function(addLink, etalonClass, countFormsField, success) {
    var container = $(this);
    var etalon = container.find('.'+etalonClass);
    
    addLink.click(function(){
       var empty_form = etalon.clone();
       var count_forms = countFormsField.val();

       empty_form.find('div, select, input').each(function(index, domEle){
         var el = $(domEle);
         if (el.attr('id')) 
        	 el.attr('id', el.attr('id').replace('__prefix__', count_forms));
         if (el.attr('name')) 
        	 el.attr('name', el.attr('name').replace('__prefix__', count_forms));
       });
       
       countFormsField.val(parseInt(count_forms) + 1);
       var holder = empty_form.removeClass(etalonClass).insertBefore(etalon);
       
       $(holder).handleWeights();
       empty_form.handleRemarksRequired();
       
       if (success) success(holder);
       return false;
    });
  };
  $.fn.handleRemarksRequired = function() {
	  $(this).find('td.overloaded_units input, td.weight input').change(function(){
		var remarksField = $("#{{ form.dispatch_remarks.auto_id }}");
        if (!remarksField.val()) {
        	alert("{% trans 'Fill remarks please.' %}");
        	remarksField.focus();
        }
  	  });
  };
  $.fn.handleWeights = function() {
	  var container = $(this);
	  var stockItem = $(this).find('select');
	  var numberUnits = $(this).find("div.ctrlHolder.number input");
	  var unitWeight = $(this).find("div.ctrlHolder.unit-weight-net input");
	  var unitWeightGross = $(this).find("div.ctrlHolder.unit-weight-gross input");
	  var weightTotal = $(this).find("div.ctrlHolder.weight-total-net input");
	  var weightTotalGross = $(this).find("div.ctrlHolder.weight-total-gross input");
	  
	  stockItem.change(function(){
		  container.find('div.ctrlHolder').loadIndicator();
		  $.getJSON('{% url get_stock_data order_pk=object.pk %}',{stock_item: $(this).val(), order: '{{ object.pk }}'}, function(data){
			  
    		  unitWeight.val(data['unit_weight_net']);
    		  unitWeightGross.val(data['unit_weight_gross']);
			  numberUnits.val(data['number_of_units']);
	    		  
    		  numberUnits.change();
		  }).complete(function(){ container.find('div.ctrlHolder').deleteIndicator(); });
	  });
	  
	  function updateWeightsNet(){
		  var totalNet = parseInt(numberUnits.val()) * parseFloat(unitWeight.val()) / 1000;
		  totalNet = totalNet.toFixed(3);
		  weightTotal.val(totalNet);
	  }
	  function updateWeightsGross(){
		  var totalGross = parseInt(numberUnits.val()) * parseFloat(unitWeightGross.val()) / 1000;
		  totalGross = totalGross.toFixed(3);
		  weightTotalGross.val(totalGross);
	  }
	  
	  numberUnits.change(function(){
		  updateWeightsNet(); 
		  updateWeightsGross();
	  });
	  
	  unitWeight.change(updateWeightsNet);
	  unitWeightGross.change(updateWeightsGross);
	  
	  /*weightTotal.change(function(){
		  unitWeight.val(1000 * parseFloat($(this).val()) / parseInt(numberUnits.val()));
	  });
	  weightTotalGross.change(function(){
		  unitWeightGross.val(1000 * parseFloat($(this).val()) / parseInt(numberUnits.val()));
	  });*/
	  
  }
})(jQuery);

$(document).ready(function() {
  $('#{{ form.dispatch_date.auto_id }}').datepicker({ 
	  minDate: '{{ object.created|date:"y-m-d" }}',
	  maxDate: '{{ object.expiry|date:"y-m-d" }}',
	  dateFormat: 'yy-mm-dd'
  });
  $('#{{ form.loading_date.auto_id }}').datepicker({ 
	  minDate: 'document.getElementById('id_loading_date').innerHTML',
	  maxDate: '{{ object.expiry|date:"y-m-d" }}',
	  dateFormat: 'yy-mm-dd' 
  });
  
  $("#loadingdetails").formset($("#add-item-link"), 'etalon', $('#{{ formset.management_form.TOTAL_FORMS.auto_id }}'));
  
  $("#loadingdetails tbody tr.row").each(function() {
    $(this).handleWeights(); 
    $(this).handleRemarksRequired();
  });
});
$(document).keydown(omit_enter);
</script>
{% endblock %}
