{% extends "order/detail.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans "Waybill Creation" %}{% endblock %}

{% block extra_content %}
<div class="form">

{% if form.errors or formset.errors %}<span style="color:red;">{% trans "You have some errors. Correct them" %}</span>{% endif %}

<form method="POST" action="" class="uniForm">{% csrf_token %}
    {% include "uni_form/errors_formset.html" %}
    <fieldset>
    <legend>{% trans "Loading details" %}</legend>    
    <table>
      {{ formset.management_form }}
      <thead class="bordered">
        <tr>
          <th>Stock item</th>
          <th>Number of Units</th>
          <th>Overloaded Units</th>
        </tr>
      </thead>
      <tbody>
      {% for form in formset %}
        <tr colspan="6">{% include "uni_form/errors.html" %}</tr>
        <tr>
          <td>{% include "uni_form/uni_field.html" with field=form.stock_item %} {{ form.slug }}</td>
          <td>{% include "uni_form/uni_field.html" with field=form.number_of_units %}</td>
          <td>{% include "uni_form/uni_field.html" with field=form.overloaded_units %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </fieldset>
    {% uni_form form form.helper %}
    <div class="buttonHolder">
      <input type="submit" name="add" value="{% trans 'Save' %}"/>
    </div>
</form>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
  $('#{{ form.dispatch_date.auto_id }}').datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
  $('#{{ form.loading_date.auto_id }}').datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });                
});
$(document).keydown(omit_enter);
</script>
{% endblock %}
