{% extends "base_template.html" %}
{% load i18n extra_tags %}

{% block title %}{{ object }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/waybill.css"/>
{% endblock %}

{% block body_class %}waybill-details{% endblock %}

{% block content %}

<div class="hidden_print actions">
    
  {% waybill_edit object user %}
  {% waybill_reception object user %}

  <button class="print_copy">Print Copy</button>
  
  {% validate_dispatch object user %}
  {% validate_receipt object user %}
  
  {% sign_dispatch object user as may_sign_dispatch %}
  {% if may_sign_dispatch %}
  <form method="POST" action="{% url waybill_finalize_dispatch waybill_pk=object.pk %}">
    <input class="print_original" type="submit" name="print_original" 
      value="Sign dispatch" onclick="return confirm('{% trans 'Are you sure you want to sign this waybill?' %}');"
    />
    {% csrf_token %}
  </form>
  {% endif %}
  
  {% sign_reception object user as may_sign_reception %}
  {% if may_sign_reception %}
  <form method="POST" action="{% url waybill_finalize_receipt waybill_pk=object.pk %}">
    <input class="print_original" type="submit" name="print_original" 
      value="Sign receipt" onclick="return confirm('{% trans 'Are you sure you want to sign this waybill?' %}');"
    />
    {% csrf_token %}
  </form>
  {% endif %}

  {% waybill_delete object user _('Delete') object.order.get_absolute_url %}
</div>

{% include 'waybill/print/header.html' %}
{% include 'waybill/print/general.html' %}
{% include 'waybill/print/loading.html' %}
{% include 'waybill/print/receipt.html' %}

<div id="sidebar" class="hidden_print">
  <h3>{% trans "Waybill history" %}</h3>
  {% include "waybill/history_fragment.html" with history_list=waybill_history %}
  
  <h3>{% trans "Loading details history" %}</h3>
  
  {% for loading, history in loading_detail_history %}
  <h4>{{ loading.stock_item.coi_code }} - {{ loading.stock_item.commodity }}</h4>
  {% include "waybill/history_fragment.html" with history_list=history %}
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8">
  $(window).load(function() {
    $('.print_copy').click(function(){
  		window.location = '{% url waybill_pdf waybill_pk=object.pk %}';
    	return false;
    });
  });
</script>
{% endblock %}
