{%load extra_tags%}
{% load i18n %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/waybill.css" media="all"/>
{% endblock %}

{% block title}{% blocktrans %}Waybill: {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}

<span class="hidden_print">
  <form class="the_forms" method="get" action="{% url waybill_edit waybill_pk=object.pk %}">
    <button onclick="javascript:original_lable.className='hidden';copy_lable.className='shown';print(); return false;" 
      name="Print Copy" id='PrintCopy'
    >{% trans "Print Copy" %}</button>
    {% if editable %}
      <input type="submit" value="Edit" name="Edit" id='Edit'/>
    {% endif %}
  </form>

{% if editable %}
  <form action="{% url waybill_finalize_dispatch waybill_pk=object.pk %}" 
    class="the_forms" name="printoriginal" id="printoriginal" method="get"
  >
    <input type="submit" onclick="javascript:original_lable.className='shown';copy_lable.className='hidden';print();" 
      name="Print Original" id='Print1' value='Print Original' />
  </form>
{% endif %}

{% if 'create' in request.META.HTTP_REFERER %}
  <a href="{% url order_detail object_id=object.order_code %}">{% trans "Back to Dispatch" %}</a>
{% else %}
{% if request.META.HTTP_REFERER %}<a href='{{ request.META.HTTP_REFERER }}'>{% trans "Back" %}</a>{% endif %}
{% endif %}
</span>

{% if not object.invalidated %}
    <table cellpadding="0" cellspacing="0" border="0px" >
        {% include 'waybill/print/wb_header.html'%}
        {% include 'waybill/print/wb_loading.html'%}
        
        {% comment %}
        {% if not object.recipientSigned %}
        {% include 'waybill/print/wb_receipt_empty.html'%}
        {% else %}
        {% include 'waybill/print/wb_receipt.html' %}
        {%endif%}
        {% endcomment %}
    </table>
    {%else%}
{% trans "Waybill has been Deleted!!!" %}    
{%endif%}

{% endblock %}