{% load i18n %}
{% with object.get_shortage_loading_details as shortage %}
  {% if shortage %}
    <ul class="error">
      {% for item in shortage %}
        <li>{{ waybill.order.warehouse }} --> {{ item.stock_item.coi_code }} ({{ item.stock_item.commodity }}). Shortage: {{ item.get_shortage }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="toplist">
  <thead>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Compas" %}</th>
    <th>{% trans "Error message" %}</th>
  </thead>
  <tbody>
    {% for log in object.compass_loggers.all|slice:"3" %}
      {% if log.action == logger_action %}
        <tr class="logger">
          <td>{{ log.when_attempted }}</td>
          <td>{{ log.compas }}</td>
          <td colspan="6">{{ log.message|linebreaks }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
