{% load i18n %}

<table cellpadding="0" cellspacing="0" border="0" class="display" class='history_log'>
  <thead>
    <tr>
      <th>{% trans "User" %}</th>
      <th>{% trans "Action" %}</th>
      <th>{% trans "Time" %}</th>
      <th>{% trans "Changes" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for action_user, action_type, action_date, changes in history_list %}
      <tr>
          <td>{{ action_user }}</td>
          <td>{{ action_type }}</td>
          <td>{{ action_date|date }}</td>
          <td>
            {% for key, field in changes %}
              {{ key }}: &quot;{{ field }}&quot;{% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
