{% extends "base_template.html" %}

{% load i18n extra_tags %}

{% block content %}

<h2>{% trans "History for Waybill" %} {{ waybill.pk }}</h2>

<h3>{% trans "Waybill history" %}</h3>
{% history waybill_history %}

<h3>{% trans "Loading details history" %}</h3>
{% history loading_detail_history %}

{% endblock content %}

{% block script %}
{{ block.super }}
<script charset="utf-8">
  $(document).ready(function() {
    $('.history_log').dataTable(
        "bSort": false,
    });
  } );
</script>
{% endblock script %}