{% load i18n %}

<table cellpadding="0" cellspacing="0" border="0" class="display history_log">
  <thead>
    <tr>
      <th>{% block first_history_head_col %}{% trans "User" %}{% endblock %}</th>
      <th>{% trans "Time" %}</th>
      <th>{% trans "Action" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for history_object in history_list %}
      <tr>
          <td>{% block first_history_col %}{{ history_object.user.username }} ({{ history_object.user.get_full_name }}){% endblock %}</td>
          <td>{{ history_object.action_time|date:"DATETIME_FORMAT"|upper }}</td>
          <td>{{ history_object.change_message }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
