{% extends "base_template.html" %}
{% load i18n extra_tags %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
  <thead>
    <tr>
      <th>{% trans "Order" %}</th>
      <th>{% trans "Number" %}</th>
      <th>{% trans "Warehouse" %}</th>
      <th>{% trans "Consignee" %}</th>
      <th>{% trans "Delivery Location" %}</th>
      <th>{% trans "Dispatch" %}</th> 
      <th>{% trans "Received" %}</th>
      <th>{% trans "Validated" %}</th>
      <th>{% trans "In Compas" %}</th>
      <th>{% trans "View" %}</th>
      <th>{% trans "Delete" %}</th>
    </tr>
  </thead>
  
  <tbody>
    {% for waybill in object_list %}
      <tr {% if waybill.hasError %}style='color:red;'{% endif %}>
        <td><a href="{{ waybill.order.get_absolute_url }}">{{ waybill.order.pk }}</a></td>
        <td>{{ waybill.pk }}</td>
        <td>{{ waybill.order.warehouse }}</td>
        <td>{{ waybill.order.consignee }}</td>
        <td>{{ waybill.order.location }}</td>
        <td>
          {% if waybill.transport_dispach_signed_date %}
            {{ waybill.transport_dispach_signed_date }}
          {% else %}
            {% waybill_edit waybill user %}
          {% endif %}
        </td>
        <td>
          {% if waybill.receipt.signed_date %}
            {{ waybill.receipt.signed_date }}
          {% else %}
            {% waybill_reception waybill user %}
          {% endif %}
        </td>
        <td>
          {% if waybill.validated %}{% trans "D" %}{% else %}-{% endif %}/
          {% if waybill.receipt_validated %}{% trans "R" %}{% else %}-{% endif %}
        </td>
        <td>
          D: {% if waybill.sent_compas %}{{ waybill.sent_compas }}{% else %}-{% endif %}/
          R: {% if waybill.receipt.sent_compas %}{{ waybill.receipt.sent_compas }}{% else %}-{% endif %}
        </td>
        <td>
          <a href='{{ waybill.get_absolute_url }}'>{% trans "View" %}</a>
        </td>
        <td>
          {% waybill_delete waybill user %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8">
  $(document).ready(function() {
  	$('#example').dataTable();
  } );
</script>
{% endblock script %}