{% extends "base_template.html"%}
{% load i18n %}
{%block content %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
        <tr>
        <th>{% trans "LTI" %}</th>
        <th>{% trans "Waybill Number" %}</th>
        <th>{% trans "Origin" %}</th>
        <th>{% trans "Consignee" %}</th>
        <th>{% trans "Delivery Location" %}</th>
        <th>{% trans "Dispatch" %}</th> 
        <th>{% trans "Received" %}</th>
{%if myprofile.superUser or myprofile.readerUser or myprofile.isCompasUser%}        
        <th>{% trans "Validated" %}</th>
        <th>{% trans "In Compas" %}</th>
{%endif%}
        <th>{% trans "Action" %}</th>
        </tr>
        </thead>
{% for waybill in waybill_list%}
{%if waybill.id in my_wb%}

<tr {%if waybill.hasError %}style='color:red;'{%endif%}>
             <td>{{waybill.ltiNumber}}</td>
             <td>{{waybill.waybillNumber}}</td>
             <td>{{waybill.origin_loc_name}}</td>
             <td>{{waybill.consegnee_name}}</td>
             <td>{{waybill.destination_loc_name}}</td>
            <td>{%if waybill.dispatcherSigned%}{{waybill.transportDispachSignedTimestamp|date:"Y/m/d"}}{%else%}{% trans "Pending" %}{%endif%}</td>
              <td>{%if waybill.recipientSigned%}{{waybill.recipientSignedTimestamp|date:"Y/m/d"}}{%else%}{% trans "Pending" %}{%endif%}</td>
{%if myprofile.superUser or myprofile.readerUser or myprofile.isCompasUser%} 
             <td>{%if waybill.waybillValidated%}{% trans "D" %}{%else%}-{%endif%}/{%if waybill.waybillReceiptValidated%}{% trans "R" %}{%else%}-{%endif%}</td>
             <td>{%if waybill.waybillSentToCompas%}D{%else%}-{%endif%}/{%if waybill.waybillRecSentToCompas%}{% trans "R" %}{%else%}-{%endif%}</td>
{%endif%}
             <td>{%if not myprofile.superUser%}<a href='{%if  myprofile.isDispatcher%}{% url waybill_view waybill.id %}{%else%}{% url waybill_view_reception waybill.id %}{%endif%}'>{% trans "View WB" %}</a>{%endif%}
             {%if myprofile.superUser%} <a href='{% url waybill_validate_form_update waybill.id %}'>{% trans "Edit" %}</a>{%endif%}
             </td>
    </tr>
{%endif%}
{% endfor%}
</table>

{%endblock%}

{%block extra-header%}
<script charset="utf-8">
$(document).ready(function() {
                $('#example').dataTable( {});
} );
</script>
{%endblock extra-header%}