{% extends "base_template.html" %}
{% load i18n extra_tags %}

{% block title %}{% if extra_title %}{{ extra_title }}{% else %}{% trans "List of waybills" %}{% endif %}{% endblock %}

{% block content %}
<h3>{% if extra_title %}{{ extra_title }}{% else %}{% trans "List of waybills" %}{% endif %}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
  <thead>
    <tr>
      <th>{% trans "LTI Number" %}</th>
      <th>{% trans "eWaybill Number" %}</th>
      <th>{% trans "Origin Warehouse" %}</th>
      <th>{% trans "Consignee" %}</th>
      <th>{% trans "Destination Location" %}</th>
      <th>{% trans "Destination Warehouse" %}</th>
      <th>{% trans "Transaction Type" %}</th>
      <th>{% trans "Dispatch" %}</th> 
      <th>{% trans "Receive" %}</th>
      <th>{% trans "Validated" %}</th>
      <th>{% trans "In COMPAS" %}</th>
      <th>{% trans "Delete" %}</th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
</table>

{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "sAjaxSource": "{{ ajax_source_url }}{% if search_string %}?search_string={{ search_string }}{% endif %}",
    })
  } );
</script>
{% endblock script %}
