{% extends "base_template.html" %}
{% load i18n %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
  <thead>
    <tr>
      <th>{% trans "LTI" %}</th>
      <th>{% trans "Waybill Number" %}</th>
      <th>{% trans "Origin" %}</th>
      <th>{% trans "Consignee" %}</th>
      <th>{% trans "Delivery Location" %}</th>
      <th>{% trans "Dispatch" %}</th> 
      <th>{% trans "Received" %}</th>
      {% if myprofile.super_user or myprofile.reader_user or myprofile.isCompasUser %}        
        <th>{% trans "Validated" %}</th>
        <th>{% trans "In Compas" %}</th>
      {% endif %}
      <th>{% trans "Action" %}</th>
      <th>{% trans "Delete" %}</th>
    </tr>
  </thead>
  
  {% for waybill in waybill_list %}
    {% if waybill.pk in my_wb %}
  
      <tr {% if waybill.hasError %}style='color:red;'{% endif %}>
        <td>{{waybill.order_code}}</td>
        <td>{{waybill.pk}}</td>
        <td>{{waybill.warehouse.location}}</td>
        <td>{{waybill.warehouse.consignee}}</td>
        <td>{{waybill.destination.location}}</td>
        <td>
          {% if waybill.transport_dispach_signed_date %}
            {{waybill.transport_dispach_signed_date|date:"Y/m/d"}}
          {% else %}
            {% trans "Pending" %}
          {% endif %}
        </td>
        <td>
          {% if waybill.recipient_signed_date %}
            {{waybill.recipient_signed_date|date:"Y/m/d"}}
          {% else %}
            {% trans "Pending" %}
          {% endif %}
        </td>
        {% if myprofile.super_user or myprofile.reader_user or myprofile.is_compas_user %} 
          <td>
            {% if waybill.validated %}{% trans "D" %}{% else %}-{% endif %}/
            {% if waybill.receipt_validated%}{% trans "R" %}{% else %}-{% endif %}
          </td>
          <td>
            {% if waybill.sent_compas %}D{% else %}-{% endif %}/
            {% if waybill.receipt.sent_compas %}{% trans "R" %}{% else %}-{% endif %}
          </td>
        {% endif %}
        <td>
          {% if not myprofile.super_user %}
            <a href='{% if myprofile.is_dispatcher %}{{ waybill.get_absolute_url }}{% else %}{% url waybill_view_reception waybill_pk=waybill.pk %}{% endif %}'>
             {% trans "View WB" %}
            </a>
          {% else %}
            <a href='{% url waybill_validate_form_update waybill_pk=waybill.pk %}'>{% trans "Edit" %}</a>
          {% endif %}
        </td>
        <td>
          <a href='{% url waybill_delete waybill_pk=waybill.pk %}'>{% trans "Delete" %}</a>   
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

{% endblock %}

{% block script %}
<script charset="utf-8">
  $(document).ready(function() {
  	$('#example').dataTable( {});
  } );
</script>
{% endblock script %}