{% extends "base_template.html"%}
{% load extra_tags i18n uni_form_tags %}

{% block title %}{% trans "Receiving waybill" %}: {{ waybill }}{% endblock %}

{% block content %}

<div class="actions">
  <a href="{{ waybill.get_absolute_url }}">{% trans "Back to waybill details" %}</a>
</div>

<table cellpadding="0" cellspacing="0" border="0"><tbody>
<tr><td>{% trans "Waybill Number:" %}</td><td> {{ waybill.pk }}</td></tr>
<tr><td>{% trans "Dispatch Location" %}</td><td>{{ waybill.order.warehouse.location.name }}</td></tr>
<tr><td>{% trans "Recipient Location:" %}</td><td> {{ waybill.destination.location.name }}</td></tr>
<tr><td>{% trans "Consignee:" %}</td><td>{{ waybill.order.consignee }}</td></tr>
</tbody></table>

<form method="POST" action="" class="uniForm">{% csrf_token %}
  {% include "uni_form/errors_formset.html" %}
  <fieldset>
  <legend>{% trans "Loading details" %}</legend>
  <table>
    {{ formset.management_form }}
    <thead class="bordered">
      <tr>
        <th>{% trans "Dispatched Commodity"%}</th>
        <th>{% trans "Number Units Good"%}</th>
        <th>{% trans "Number Units Lost"%}</th>
        <th>{% trans "Lost Reason"%}</th>
        <th>{% trans "Number Units Damaged"%}</th>
        <th>{% trans "Damaged Reason"%}</th>
        <th>{% trans "Net Qty" %}</th>
        <!--<th>{% trans "Gross Qty" %}</th>-->
        <th>{% trans "Over Offload Units"%}</th>
      </tr>
    </thead>
    <tbody>
    {% for form in formset %}
      <tr colspan="7">{% include "uni_form/errors.html" %}</tr>
      <tr>
        <td>{{ form.instance.stock_item.coi_code }} {{form.instance.stock_item.commodity.name}} ({{ form.instance.number_of_units }} items) {{ form.slug }} {{ form.waybill }}</td>
        <td class="received_units">{% include "uni_form/uni_field.html" with field=form.number_units_good %}</td>
        <td>{% include "uni_form/uni_field.html" with field=form.number_units_lost %}</td>
        <td>{% include "uni_form/uni_field.html" with field=form.units_lost_reason %}</td>
        <td class="received_units">{% include "uni_form/uni_field.html" with field=form.number_units_damaged %}</td>
        <td>{% include "uni_form/uni_field.html" with field=form.units_damaged_reason %}</td>
        <td class="weight">
          <input class="unit_weight_net" type="hidden" name="dummy" value="{{ form.instance.unit_weight_net }}" />
          {% include "uni_form/uni_field.html" with field=form.total_weight_net_received %}
        </td>
        <td class="overoffloaded">{% include "uni_form/uni_field.html" with field=form.over_offload_units %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </fieldset>
  {% uni_form form form.helper %}
  <div class="buttonHolder">
    <input type="submit" name="save" value="{% trans 'Save' %}"/>
  </div>
</form>

{% endblock %}

{% block script %}
{{ block.super }}
<script charset="utf-8" type="text/javascript">
(function($) {
	  $.fn.handleRemarksRequired = function() {
		  $(this).find('td.overoffloaded input, td.weight input').change(function(){
			var remarksField = $("#{{ form.receipt_remarks.auto_id }}");
	        if (!remarksField.val()) {
	        	alert("{% trans 'Fill remarks please.' %}");
	        	remarksField.focus();
	        }
	  	  });
		  return $(this)
	  };
	  $.fn.handleTotalWeight = function() {
		  var container = $(this);
		  var numberFields = container.find('td.received_units input');
		  
		  numberFields.change(function(){
			var sum = 0;
			numberFields.each(function() {
				sum += Number($(this).val());
			});
			
			var weight = sum*container.find("td.weight input.unit_weight_net").val()/1000.0;
			container.find("td.weight .ctrlHolder input").val(weight.toFixed(3));
	  	  });
	  };
})(jQuery);

$(document).ready(function() {
	$('#{{ form.arrival_date.auto_id }}, #{{ form.start_discharge_date.auto_id }}, #{{ form.end_discharge_date.auto_id }}').datepicker({ 
		minDate: '{{ form.instance.dispatch_date|date:"y-m-d" }}', 
	 	dateFormat: 'yy-mm-dd' 
    });
	
	$("form table tr").each(function(){
		$(this).handleRemarksRequired().handleTotalWeight();
	});
	
});
$(document).keydown(omit_enter);
</script>
{% endblock %}
