/* BASIC STYLES*/

body {
  background-color: rgb(235,235,235);
}

.header {
  text-align: center; 
  padding-right: 1px; 
  padding-left: 1px; 
  padding-bottom: 2px; 
  padding-top: 2px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  font-family: sans-serif; 
  color: rgb(235,235,235);
  font-size: 13px;
  background-color: #12c8ff;
}

.footer {
  font-size: 10px;
  font-family: sans-serif; 
  border-top-width: 1px; 
  border-top-style: solid; 
  border-top: black;
  text-align: right;
  clear: both;
}
    
.content {
  font-family: Helvetica, Verdana, Arial, sans-serif; 
  color: rgb(15,15,15);
  padding: 15px 0px 15px 0px;
  border: 1px;
}

.highlight {
  color: black;
  background-color: rgb(235,235,235);
}

.menu { 
  font-weight: bold; 
  font-family: serif; 
  text-shadow: 1px 1px 1px; 
  text-align: right;
}

.menu a {
  margin-left: 5px;
}

a,a.visited {
  color:rgb(45,45,45); 
}

li { 
  list-style-type: none; 
}

.dataTables_wrapper {
  min-height:0px
}

.display thead tr th {
  text-align: left;
}

x {
  color:black;  
}
.error {
  font-weight: bold;
  color: red;
}


/* Order detail */
.bordered tr th, .bordered .itemhead {
  text-align: center;
  background-color: #0ee6ff;
}

.bordered tr, .bordered tr td, .bordered tr th {
  border-collapse: collapse;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-left: 3px;
  padding-right: 3px;
}

div.form {
  margin-top: 5px;
}

table.summary {
  width: 100%;
}

.ul-inline ul, 
.ul-inline ul li {
  border-width: 1px; 
  display: inline; 
  padding: 0px;
}

.ul-inline {
  margin: 2px; 
  border-color: black; 
  border-style: none; 
  border-width: 1px;
}

/* Form */
.uniForm .formRow,
.uniForm .ctrlHolder {
  clear: both;
}

.uniForm .formRow .ctrlHolder:FIRST-CHILD {
  margin-left: 0;
}

.uniForm .formRow .ctrlHolder {
  float: left;
  clear: none;
  margin-left: 10px;
}

.reports-title {
  colspan: 2;
  text-align: center;
  font-weight: bold;
}

.reports-title td{
  height: 50px;
}

.uniForm table tbody .ctrlHolder {
  padding-left: 2px;
}

.uniForm .ctrlHolder {
  border-bottom: none !important;
}

.logger {
  font-size: 12px;
  font-family: sans-serif; 
  font-style: italic;
  color: red;
}

.actions {
  float: right;
  font-size: large;
  margin-bottom: 10px;
  margin-right: 260px;
}

.actions a {
  padding-right: 5px;
  border-right: 1px solid #B2B2B2;
}

.actions a:last-child {
  border-right: 0 none;
}

.actions form {
  display: inline;
}

ul.messages li.info {
  color: green;
}
