.uniForm .ctrlHolder{ padding: 1px; }
.uniForm legend{ padding: 5px 0; }
    
    .uniForm .error p { margin: 1px 1px 1px 1px; }
    
.uniForm .error input, .uniForm .error textarea {
  border-color: red;
}

.uniForm textarea {
    height: inherit;
}

.uniForm table input {
  width: 95%;
}

.uniForm input.number {
  text-align: right;
}

.uniForm #errorMsg {
  margin: 0;
  padding: 0;
}

.uniForm #errorMsg ol {
    margin: 0;
}

.uniForm #errorMsg ol li {
  margin: 0;
}

.uniForm .buttonHolder {
  margin: 0;
}

.uniForm .buttonHolder input {
  font-size: 18px;
}

.uniForm fieldset {
  border-top: grey solid 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/* Password change form */
#password-change-form.uniForm .error p {
	float: right;
}

#password-change-form.uniForm .ctrlHolder label {
	display: block;
    float: left;
    width: 250px;
}

dl.warehouse-list dt { 
  font-weight: bold;   
}

dl.warehouse-list dd { 
  margin-top: 10px;
}

.active_import{ 
  color: red;
}

.paging_two_button a:hover { 
  cursor: pointer;
}

.red { 
  color: red;
}

.red a, a.visited {
  color: red;
}

.row-negative-units { 
  opacity: 0.2;
}

.warehouse-selector select { 
  max-width: 600px;
}

.warehouse-selector select option { 
  max-width: 600px;
}

.csv_export {
  float: right;
  padding-right: 20px;
}

/* the overlayed element */
#error_list {

  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10007 !important;

  width:600px;

  border: 0 none;
  margin: 0 0 8px;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

.submit-form { 
  display: none;
}

/* close button positioned on upper right corner */
#error_list .close {
  background-image:url(../images/overlay/close.png);
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}