.uniForm .ctrlHolder{ padding: 1px; }
.uniForm legend{ padding: 5px 0; }
    
    .uniForm .error p { margin: 1px 1px 1px 1px; }
    
.uniForm .error input, .uniForm .error textarea {
  border-color: red;
}

.uniForm textarea {
    height: inherit;
}

.uniForm table input {
  width: 95%;
}

.uniForm input.number {
  text-align: right;
}

.uniForm #errorMsg {
  margin: 0;
  padding: 0;
}

.uniForm #errorMsg ol {
    margin: 0;
}

.uniForm #errorMsg ol li {
  margin: 0;
}

.uniForm .buttonHolder {
  margin: 0;
}

.uniForm .buttonHolder input {
  font-size: 18px;
}

.uniForm fieldset {
  border-top: grey solid 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/* Password change form */
#password-change-form.uniForm .error p {
	float: right;
}

#password-change-form.uniForm .ctrlHolder label {
	display: block;
    float: left;
    width: 250px;
}

dl.warehouse-list dt { 
  font-weight: bold;   
}

dl.warehouse-list dd { 
  margin-top: 10px;
}

.active_import{ 
  color: red;
}