body {
	height: 100%;
	border-width: 0;
	padding: 0;
	margin: 0;
}

.wb_head{
  color: white;
  background-color:black;
  font-size: small;
}
.centric h1{ font-weight: bold; text-align: center;}
.centric p{font-size: small; text-align: center;}

.content {
    border: none;
    font-family: serif;
    font-weight: normal;
    padding: 0;
    background-color: white;
}

table {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
	font-size: 11px;
}

.border {
	padding: 0px;
	border-spacing: 0px;
	border-width: 1px;
	border-style: ridge;
	border-color: black #B5B5B5 #B5B5B5 black;
}

.border td {
	
	padding: 0px;
	border-spacing: 0px;
	border-width: 1px;
	border-style: ridge;
	border-color: black #B5B5B5 #B5B5B5 black;
}

img{position: relative; text-align: right;}
.right{ position: absolute; right: 20px; text-align: right;}
.centric{display: inline-block; position: relative; left:200px; text-align: center; }

.hidden, .hidden_print, .header, .menu, .messages, .footer {
	font-size: large;
	display: none;
	visibility: hidden;
	height: 0px;
	margin: 0px;
	padding: 0px;

}

.shown{
	display:inherit;
	visibility: visible;
}
.the_forms{
	display: inline;
	height: 0px;
}

p {
  margin: 0;
}