* {
	padding:0;
	margin:0;
}
body {
	text-overflow:ellipsis;
	background:#fff;
}
.content {
	font: 10pt/12pt "Times New Roman", Times, serif;
}
h1 {
	font: 18pt/22pt "Times New Roman", Times, serif;
}
.x-small {
	font: 8pt/9pt "Times New Roman", Times, serif;
}

/* all tables */
table {
	width:170mm;
	border-spacing:0;
}
td {
	border:1px solid #aaa;
	vertical-align:top;
}
tr.title td,
td span {
	font:7pt/8pt Arial, sans-serif;
}
td span {
	display:block;
}
thead th {
	text-align:left;
	color:white;
	background:black;
	padding:3px;
}

/* header table */
#top_note {font: 8pt/9pt "Times New Roman", Times, serif;}

table#loading_details tbody tr.title td span {
	display:inline;
	width:50%;
	float:left;
}

table#general tbody th {
	text-align:right;
	width: 24mm !important;
}
table#general tbody td {
	width: 36mm !important;
}
table#general td.barcode {
	width: 50mm !important;
}
/* === */
td.number {
	text-align:right;
}
/* === */
table#loaded tbody td {
	width:50%;
}
table#loaded tbody span ,
table#receipt tbody span {
	display:inline;
}
td.signature {
	vertical-align: bottom;
}
td.signature span{
	display:block;
	float:left;
	height:27mm;
	width:100%;
}


/* [AD] not sure why this is here */
.centric h1 {
	font-weight:bold;
	text-align:center;
}
.centric p {
	font:10pt 12pt normal;
	text-align:center;
}

.right {
	position:absolute;
	right:20px;
	text-align:right;
}
.centric {
	display:inline-block;
	position: relative;
	left:200px;
	text-align:center;
}
.the_forms{
	display:inline;
	height:0px;
}
