* {
	padding:0;
	margin:0;
}
body {
	text-overflow:ellipsis;
	background-color:#fff;
}
.content {
	font: 10pt/12pt Times;
	background-color:#eee;
}
h1 {
	font: 18pt/22pt Times;
}
.x-small {
	font: 8pt/9pt Times;
}

/* all tables */
table {
	width:170mm;
	border-spacing:0;
	background:#999;
}
td {
	border:1px solid #aaa;
	vertical-align:top;
	padding-top:1mm;
}
tr.sans td,
tr.title td,
td p {
	font:7pt/8pt Arial;
}
thead th {
	text-align:left;
	color:white;
	background:black;
	padding:2px 4px;
}
td.number {
	text-align:right;
}
td.signature {
	height:25mm;
}
td.signature p {
	display:block;
	float:left;
	width:100%;
}

/* header table */
#top_note {font: 8pt/9pt Times;}

/* general table */
table#general tbody th {
	text-align:right;
	width: 24mm !important;
}
table#general td.barcode {
	width: 50mm !important;
}

/* loading tables */
table#loading_details tbody tr.title td span {
	display:inline;
	width:50%;
	float:left;
}
table#loaded tbody td {
	width:50%;
}
table#loaded span ,
table#receipt span {
	display:inline;
}

/* that's it */
hr.sep {
	margin:20px;
}