* {
	padding:0;
	margin:0;
}
body {
	/* text-overflow:ellipsis; /* CSS 3 selector, not sure if removing it breaks anything */
	background-color:#fff;
}
.content {
	font-size:10pt;
	line-height:11pt;
	font-family:Times-Roman;
	background-color:#eee;
}
h1 {
	font-size:18pt;
	line-height:22pt;
	font-family:Times-Roman;
}
#top_note ,
.x-small {
	font-size:8pt;
	line-height:9pt;
	font-family:Times-Roman;
}

/* all tables */
table {
	width:170mm;
	border-spacing:0;
	background:#fff;
	position:relative;
}
td {
	border:1px solid #333;
	vertical-align:top;
	padding-top:1mm;
	padding-left:1mm;
	font-size:10pt;
	line-height:11pt;
	font-family:Times-Roman;
}
tr.sans td,
tr.title td,
td p {
	font-size:7pt;
	line-height:8pt;
	font-family:Helvetica;
}
thead th {
	text-align:left;
	color:#fff;
	background:#000;
	padding-top:1mm;
	padding-left:2mm;
}
td.number {
	text-align:right;
}
td.signature {
	height:27mm;
}
td.signature p.stamp {
	position:absolute;
	bottom:0;
	color:#999;
	font-style:italic;
	text-align:center;
}

td.w50 {width:85mm;}
td.w20 {width:20%;}
td.w10 {width:10%;}

/* header table */

/* general table */
table#general {
	width:118mm;
	height:200px;
}
table#general td {
	width:25%;
	padding-top:1mm;
	padding-left:1mm;
}
#transaction_detail td {
	padding:0;
}
img.barcode {
	position:absolute;
	top:0;
	right:0;
}

/* loading tables */
table#loading_details tbody tr.title td span {
	display:inline;
	width:50%;
	float:left;
}
table#loaded tbody td {
	width:50%;
}
table#loaded span ,
table#receipt span {
	display:inline;
}

/* that's it */
div.wb {
	margin:0px 50px 30px 50px;
}