* {
	padding:0;
	margin:0;
}
body {
	background-color:#fff;
}
.content {
	font-size:9pt;
	line-height:9pt;
	font-family:Times-Roman;
	background-color:#eee;
}
div.wb {
	margin:0px 50px 30px 50px;
}

/* font sizes */
h1 {
	font-size:16pt;
	line-height:16pt;
	font-family:Times-Roman;
	display:inline-block;
}
#top_note ,
.x-small {
	font-size:7pt;
	line-height:7pt;
	font-family:Times-Roman;
}

/* all tables */
table {
	width:190mm;
	border-spacing:0;
	background:#fff;
	position:relative;
}
td {
	border:1px solid #333;
	vertical-align:top;
	padding-top:1mm;
	padding-left:1mm;
	font-size:9pt;
	line-height:9pt;
	font-family:Times-Roman;
}
tr.sans td,
tr.title td,
td p {
	font-size:7pt;
	line-height:7pt;
	font-family:Helvetica;
}
thead th {
	text-align:left;
	color:#fff;
	background:#000;
	padding-top:1mm;
	padding-left:2mm;
	font-size:10pt;
	line-height:10pt;
	font-family:Helvetica;
}
thead th span {
	margin-left:25px;
}
td.number {
	text-align:right;
	padding-right:1px;
}

td.w50 {width:50%;}
td.w20 {width:20%;}
td.w10 {width:10%;}

/* header table */

/* I. Transaction Details */
#general_wrapper td {
	padding:0;
	border-left:none;
}
table#general {
	width:100%;
	height:202px;
}
table#general td.thumb {
	width:200px;
}
table#general td {
	padding-top:1mm;
	padding-left:1mm;
}
table#general td {
	padding-top:1mm;
	padding-left:1mm;
	border:1px solid #333;
}

/* II. Loading Details */
table#loading_details tbody tr.title td {
	text-align:center;
}
table#loading_details tbody td {
	font-size:7pt;
}

/* III. Certification of Commodities Loaded */
table#loaded tbody td {
	width:50%;
}
table#loaded p {
	display:inline;
}
td.signature {
	height:27mm !important;
}
td.signature p.stamp {
	position:absolute;
	bottom:0;
	color:#999;
	font-style:italic;
}

/*IV. Certification of Commodities Received */
table#receipt tbody td {
	width:50%;
}
table#receipt p {
	display:inline;
}

/* that's it */
