/* show print */

.wb_head{color:white;background-color:black;}
.centric h1{ font-weight: bold; text-align: center;}
.centric p{font-size: small; text-align: center;}
table {
	width: 850px;
	background-color: white;
	font-family: serif;
	font-size: 13px;
}

.border {
	padding: 0px;
	border-spacing: 0px;
	border-width: 1px;
	border-style: ridge;
	border-color: black;
}

.border td {
	
	padding: 0px;
	border-spacing: 0px;
	border-width: 1px;
	border-style: ridge;
	border-color: black #B5B5B5 #B5B5B5 black;
}

img{position: relative; left: 20px; text-align: right;}
.right{ position: absolute; right: 20px; text-align: right;}
.centric{display: inline-block; position: relative; left:200px; text-align: center; }
.hidden{
	display: none;
	visibility: hidden;
}
.shown{
	display:inherit;
	visibility: visible;
}
.the_forms{
	display: inline;
}
#original_lable, #copy_lable{
	font-weight: bold;
	font-size: x-large;
}

p {
  margin: 0;
}

#details {
  float: left;
}

#sidebar {
  float: left;
  max-width: 500px;
  margin-left: 20px;
}

sup {
  font-size: x-small;
}

.small {
  font-size: small;
}

.x-small {
  font-size: x-small;
}

.signature {
  height: 20mm;
}