{% load i18n %}
{% if access_granted %}
<form action="{% url handle_sync_compas compas_pk=station.pk %}" method="POST">{% csrf_token %}
  <p>
    <button type="submit" name="full_update" title="{% trans 'Import organizations, places, warehouses, persons data' %}"
      {% if base_locked %}disabled{% endif %}>{% trans "Base import" %}</button>
    {% if base_locked %}<span class="active_import">{% trans "Import is being executed!" %}</span>{% endif %}
  </p>
  <p>
    <button type="submit" name="import" {% if update_locked %}disabled{% endif %} 
      title="{% trans 'Update Orders and stocks' %}">
      {% trans "Update" %}
    </button>
    {% if update_locked %}<span class="active_import">{% trans "Update is being executed!" %}</span>{% endif %}
  </p>
</form>
{% endif %}
