{% extends "offliner_base_template.html"%}

{%block content %}

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr>
        	<th>LTI</th>
        	<th>Waybill Number</th>
        	<th>Consignee</th>
        	<th>Delivery Location</th>
        	<th>Uploaded</th>
        	<th></th>
        </tr>
	</thead>

	{% for waybill in waybill_list%}
		<tr>
 			<td>{{waybill.ltiNumber}}</td>
 			<td>{{waybill.waybillNumber}}</td>
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.consegnee_name}}</td>			
 			<td>{{waybill.loadingdetail_set.select_related.0.siNo.destination_loc_name}}</td>
 			<td>{% if waybill.waybillsynchrostate_set.select_related.0.synchronized %} X {% else %} N {% endif %}</td>
 			<td>{% if not waybill.waybillsynchrostate_set.select_related.0.synchronized %} <a href='{%url offliner.views.waybill_upload waybill.id%}'>Upload</a> {% endif %} </td>
    	</tr>
	{% endfor%}

</table>

{%endblock%}

{%block extra-header%}

<script charset="utf-8">
$(document).ready(function() {
				$('#example').dataTable( {});
} );
</script>

{%endblock extra-header%}